.container-fluid {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/assets/images/fondo1.jpg);
    background-size: cover;
    background-position: center;
    height: 75vh;
}

img {
    filter: invert();
    width: 30%;
}

.text-important {
    color: #fff;
    font-weight: bold;
}

.text-important {
    text-align: center;
}

.text-subtitle {
    font-size: 18px;
    color: #fff;
    padding: 0 20px;
}
