<div class="container-fluid py-5">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-4 text-center">
                <img src="../../../assets/images/paella.svg" alt="">
                <h3 class="text-important mt-4"> ¡Empieza a compartir tus habilidades culinarias! </h3>
                <p class="text-subtitle">Inicia sesión o regístrate para comenzar a publicar tus platos</p>
                <div class="d-flex flex-column justify-content-center align-items-center mt-5">
                    <a routerLink="/iniciar-sesion" class="btn-paella bg-paella-2 border-paella-2 text-color-1">Iniciar
                        sesión</a>
                    <a routerLink="/alta-usuario" class="btn-paella btn-paella-border-3 text-white mt-2">Crear cuenta</a>
                </div>
            </div>
        </div>
    </div>
</div>