.container-fluid {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../../assets/images/fondo1.jpg);
    background-size: cover;
    height: 70%;
}

a {
    text-decoration: none;
}

.btn-paella {
    width: 50%;
    padding: 5px 20px;
    border-radius: 40px;
    font-size: 20px;
    margin: 2px;
}

.btn-paella-aceptar {
    background: #d3b791;
    color: #8b5a17;
    font-weight: bold;
    border: 2px solid #d3b791;
}

.btn-paella-cancelar {
    color: #fff;
    border: none;
    background: transparent;
    border: 2px solid rgb(156, 156, 156);
}

.btn-paella-cancelar:hover {
    background: #d3b791;
    color: #8b5a17;
    font-weight: bold;
    border: 2px solid #d3b791;
}

img {
    filter: invert();
    width: 30%;
}

.text-important {
    color: #fff;
    font-weight: bold;
}

.text-important {
    text-align: center;
}

.text-subtitle {
    font-size: 18px;
    color: #fff;
    padding: 0 20px;
}