<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<!--letra font-->
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&family=Roboto:ital@1&display=swap"
	rel="stylesheet">
<!------ Include the above in your HEAD tag ---------->

<div class="container-fluid">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h5>¡BIENVENIDO DE NUEVO!</h5>
				<form class="" action="" autocomplete="off" method="POST">
					<div class="input-group">
						<span class="input-group-addon"><span class="fa fa-user"></span></span>
						<input [(ngModel)]="usuario.nombre" [(ngModel)]="user.name" type="text" class="form-control"
							name="username" placeholder="Username">
					</div>
					<div class="input-group">
						<span class="input-group-addon"></span>
						<input [(ngModel)]="usuario.email" [(ngModel)]="user.email" type="email" class="form-control"
							name="email" placeholder="E-mail">
					</div>
					<div class="input-group">
						<span class="input-group-addon"></span>
						<input [(ngModel)]="usuario.contrasena" [(ngModel)]="user.password" type="password"
							class="form-control" name="password" placeholder="Contraseña">
					</div>
					<div class="input-group">
						<span class="input-group-addon"></span>
						<input [(ngModel)]="contrasena2" type="password" class="form-control" name="rpassword"
							placeholder="Repetir contraseña">
					</div>
					<div class="input-group">
						<span class="input-group-addon"></span>
						<input [(ngModel)]="usuario.ubicacion" [(ngModel)]="user.ubicacion" type="ubication"
							class="form-control" name="ubicacion" placeholder="Ubicaión">
					</div>


					<div class="d-none" value="0" [(ngModel)]="usuario.baneado" [(ngModel)]="usuario.email_verified"
						[(ngModel)]="user.baneado" [(ngModel)]="user.email_verified_at"></div>

					<a [routerLink]="['/login']">Acceder</a>

					<button (click)="saveUsuario()" (click)="saveUser()" href="panel-usuario" class="" type="submit"><i
							class="fa fa-sign-in"></i>
						Registrarme</button>
				</form>

			</div>
		</div>
	</div>
</div>