<div class="container-fluid">
	<div class="container mt-5 mb-5">
		<div class="row d-flex justify-content-center">
			<div class="col-11 col-md-6 col-xl-5 caja mt-5 mb-5 pt-5 pb-3 px-3">
				<p class="text-center form-title">¡ÚNETE CON EL CORREO<br> ELECTRÓNICO!</p>
				<form class="mt-3" autocomplete="off" [formGroup]="registerForm" (submit)="registrarUsuario()">
					<div class="row d-flex justify-content-center">
						<div class="form-group col-md-8">
							<input type="text" formControlName="usuario_nombre" placeholder="Nombre">
						</div>
						<div class="form-group col-md-8">
							<input type="email" formControlName="usuario_email" placeholder="E-mail">
						</div>
						<div class="form-group col-md-8">
							<input type="password" formControlName="usuario_password" placeholder="Contraseña">
						</div>
						<div class="form-group col-md-8">
							<p class="text-center text-login">
								¿Ya tienes cuenta?
								<a routerLink="/iniciar-sesion">Iniciar sesión</a>
							</p>
						</div>
						<div class="form-group col-md-8 text-center">
							<button>Crear</button>
						</div>

						<div class="form-group col-md-8 pl-5 pr-5">
							<p class="text-center text-politics">Al continuar, aceptas nuestra
								<a href="">Politicas de Privacidad</a> y
								<a href="">Cookies</a>
							</p>
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>
</div>