div.container-fluid {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../../assets/images/1551251263737.jpg');
    background-size: cover;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h5{
    color: darkgoldenrod;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 20px;

}

div.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

form input {
    margin-top: 20px;
}

div.col-md-4 {
    background-color: sandybrown;
    border-radius: 5px;
}
form{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}
form button {
    border-radius: 15px;
    border-style: none;
    font-weight: bold;
    color: darkgoldenrod;
    padding: 5px 15px 5px 15px;
    float: right;
    margin-top: 20px;
    margin-bottom: 30px;
}
form a{
    color: black;
    margin-top: 13px;
    text-decoration: underline;
}