.bg-color{
    background-color: #f7eddf;
}

.bg-blanco{
    background-color: white;
      /* border-radius: 15px; */
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.img-round{
    width:150px;
    height:150px;
    border-radius:150px;
    margin-top: 50px;
    margin-left: 50px;
}
.lineaMarron{
    border-top: none;
    border-bottom: 2px solid #8b5a17;
    padding-left: 125px;
}
.letra-intro{
    color:#8b5a17;
    font-weight: 700;
    margin-top:50px;
}
.edita-info{
    color:grey;
    margin-top: 10px;
}

.letra-base{
    color:lightgray;
}

.inoutl{
    color:#ffffff;
    font-weight: 700;
  }

.inout{
    text-decoration: none;
    padding: 8px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 300;
    background-color: #d3b791;
    border-radius: 20px;
  }

.p-paella-margin{
    margin-top: 30px;
    margin-left: 780px;
}

.star {
    position: relative;
    display: inline-block;
    font-size: 2rem;
    color: #d3d3d3;
  }
  .full {
    color: rgb(248, 223, 0);
  }
  .ratio {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: rgb(248, 223, 0);
  }