

<div class="container-fluid py-4 bg-white">
  <div class="container">
      <div class="row no-gutters">
          <div class="col-sm-12 text-center">
              <div class="tabs text-center">
                 
                  <!--<a id="btn-billings" class="btn btn-tabs" (click)="boton2()">Billings</a>-->
                 
              </div>
          </div>
      </div>

      <div style="min-height: 60vh;">
          <div #user id="user" class="row no-gutters mt-5">
              <div class="col-sm-12">

                  <table class="table table-hover table dark">
                      <tbody>
                          <tr class="fila-par pt-4">
                              <td class="py-4">
                                  <p><strong>Name:</strong> </p>
                              </td>
                              <td class="py-4">
                                  <p><strong>Surnames:</strong> </p>
                              </td>
                          </tr>
                          <tr class="fila-impar">
                              <td class="py-4">
                                  <p><strong>Email:</strong> 
                              </td>
                              <td class="py-4">
                                  <p><strong>Phone number:</strong> </p>
                              </td>
                          </tr>
                          <tr class="fila-par">
                              <td class="py-4">
                                  <p><strong>NIE / Passport number:</strong>                             </p> 
                                </td>
                              <td class="py-4">
                                  <p><strong>Address:</strong> </p>
                              </td>
                          </tr>
                          <tr class="fila-impar">
                              <td class="py-4">
                                  <p><strong>ZIP code:</strong> </p>
                              </td>
                              <td class="py-4">
                                  <p><strong>Location</strong> </p>
                              </td>
                          </tr>

                          <tr class="fila-par">
                              <td class="py-4">
                                  <p><strong>Country:</strong>                               </td>
                              <td class="py-4">
                                  <p><strong>Marital status:</strong> </p>
                              </td>
                          </tr>
                          <tr class="fila-impar">
                              <td class="py-4">
                                  <p><strong>Password:</strong> ***********</p>
                              </td>
                              <td class="py-4 text-center"><button class="button-download" data-fancybox data-src="#changePassword" href="javascript:;">Change password</button></td>
                   
                          </tr>
                          
                      </tbody>
                  </table>
                  <div style="display: none; max-width: 500px;" id="changePassword">holaholahola</div>
              </div>
              <div class="col-sm-3  my-3  pt-3">
                  <a class="button-download">Edit data</a>
              </div>
          </div>


      </div>


  </div>
</div>
