<div style="display: none; max-width: 500px;" id="changePassword">holaholahola</div>

<div class="container-fluid py-4 bg-white">
  <div class="container">
      <div class="row no-gutters">
          <div class="col-sm-12 text-center">
              <div class="tabs text-center">
                 
                  <!--<a id="btn-billings" class="btn btn-tabs" (click)="boton2()">Billings</a>-->
                 
              </div>
          </div>
      </div>

      <div style="min-height: 60vh;">
          <div #user id="user" class="row no-gutters mt-5">
              <div class="col-sm-12">

                  <table class="table table-hover table dark">
                      <tbody>
                          <tr class="fila-par pt-4">
                              <td class="py-4">
                                  <p><strong>Nombre:</strong> </p>
                              </td>
                              <td class="py-4">
                                  <p><strong>Apellidos:</strong> </p>
                              </td>
                          </tr>
                          <tr class="fila-impar">
                              <td class="py-4">
                                  <p><strong>Email:</strong> 
                              </td>
                              <td class="py-4">
                                  <p><strong>Phone number:</strong> </p>
                              </td>
                          </tr>
                          <tr class="fila-par">
                              <td class="py-4">
                                  <p><strong>Nickname:</strong>                             </p> 
                                </td>
                              <td class="py-4">
                                  <p><strong>Direccion:</strong> </p>
                              </td>
                          </tr>
                          <tr class="fila-impar">
                              <td class="py-4">
                                  <p><strong>Codigo postal:</strong> </p>
                              </td>
                              <td class="py-4">
                                  <p><strong>Localizacion:</strong> </p>
                              </td>
                          </tr>

                          <tr class="fila-par">
                              <td class="py-4">
                                  <p><strong>Pais:</strong>                               </td>
                              <td class="py-4">
                                <p><strong>Contraseña:</strong> ***********</p>
                              </td>
                          </tr>
                          <tr class="fila-impar">
                              <td class="py-4">
                                  
                              </td>
                              <td class="py-4 text-center"><a class="button-download" data-fancybox data-src="#changePassword" href="javascript:;">Change password</a></td>
                              <div style="display: none; max-width: 500px;" id="changePassword">holaholahola</div>
                          </tr>
                          
                      </tbody>
                      <div style="display: none; max-width: 500px;" id="changePassword">holaholahola</div>
                  </table>
 
              </div>
              <div class="col-sm-3  my-3  pt-3">
                  <a class="button-download">Edit data</a>
                  <div style="display: none; max-width: 500px;" id="changePassword">holaholahola</div>
              </div>
              <div style="display: none; max-width: 500px;" id="changePassword">holaholahola</div>
          </div>

          <div style="display: none; max-width: 500px;" id="changePassword">holaholahola</div>
      </div>
      <div style="display: none; max-width: 500px;" id="changePassword">holaholahola</div>

  </div>
</div>
<div style="display: none; max-width: 500px;" id="changePassword">holaholahola</div>