nav {
    padding: 25px 150px;
}

  #navbarSupportedContent ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}

#navbarSupportedContent ul li a {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 2px;
}

form.form-inline a {
    text-decoration: none;
    padding: 10px 50px;
    font-size: 20px;
    border-radius: 40px;
    cursor: pointer;
}

form.form-inline a:nth-child(1) {
    background-color: #f7eddf;
    border: 2px solid #f7eddf;
    color: #8b5a17;
    margin-right: 30px;
}

form.form-inline a:nth-child(2) {
    border: 2px solid #8b5a17;
}

form.form-inline a:nth-child(1):hover {
    border: 2px solid #8b5a17;
    font-weight: bold;
}

form.form-inline a:nth-child(2):hover {
    font-weight: bold;
}