
<link rel="preconnect" href="https://fonts.gstatic.com"><!--letra font-->
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&family=Roboto:ital@1&display=swap" rel="stylesheet">
<!-- <div id="fondo">
  <div class="container-fluid">
      <div class="row justify-content-center">
          <div class="col-md-1 ">

          </div>









    <nav class="navbar d-flex-center navbar-expand-lg navbar-light bg-white">

      <div class="row">
        <div class="col-xl-12">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href=""><strong class="letranegra">Home</strong></a>
              </li>


              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <strong class="letranegra">Paginas</strong>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="faq"><strong class="letranegra">FAQs</strong></a></li>

                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="cocineros"> <strong class="letranegra">Cocineros</strong></a></li>
                </ul>
              </li>


              <li class="nav-item">
                <a class="nav-link" href="contacto"><strong class="letranegra">Contacto</strong></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="publica-paella" *ngIf="this.guard.loggedIn==true"> <strong
                    class="letranegra">Anunciar mi paella</strong>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="panel-usuario" *ngIf="this.guard.loggedIn==true"> <strong
                    class="letranegra">Mi perfil</strong>
                </a>
              </li>

            </ul>

          </div>
        </div>
<hr/> -->
         




<!-- 


 <div class="container-fluid"></div>

                <nav class="navbar d-flex-center navbar-expand-lg navbar-light bg-white">
                
                    <div class="row">
                    <div class=""> 
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                          <a class="nav-link" href=""><strong class="letranegra">Home</strong></a>
                        </li>
                    

                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <strong class="letranegra">Paginas</strong> 
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="faq"><strong class="letranegra">FAQs</strong></a></li>
                           
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="cocineros"> <strong class="letranegra">Cocineros</strong></a></li>
                          </ul>
                        </li>


                        <li class="nav-item">
                          <a class="nav-link" href="contacto"><strong class="letranegra">Contacto</strong></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="publica-paella" *ngIf="this.guard.loggedIn==true"> <strong class="letranegra">Anunciar mi paella</strong>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="panel-usuario" *ngIf="this.guard.loggedIn==true"> <strong class="letranegra">Mi perfil</strong>
                          </a>
                        </li>
                        
                      </ul>
                  
                    </div>
                  </div>

                  <div class="d-flex-end justify-content-end "> 

                    <a href="login" routerLinkActive="active" *ngIf="this.guard.loggedIn==false" class="letra-header"> LOGIN </a>
                    <a href="login" routerLinkActive="active" *ngIf="this.guard.loggedIn==true" (click)="logout()" class="letra-header"> LOGOUT </a>
        
        
        
                     <a href="register" routerLinkActive="active" class="letra-header"> REGISTER </a> 
        
                  </div>



                </div>
                </nav>

 -->













                <nav class="navbar navbar-expand-lg navbar-light">
                  <div class="container">
                  
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a class="nav-link" routerLink="" routerLinkActive="active" href=""><strong>HOME</strong> <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                          <a class="nav-link" routerLink="contacto" routerLinkActive="active" href=""><strong>CONTACTO</strong></a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link active dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <strong>PÁGINAS</strong>
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" routerLink="faq" routerLinkActive="active" href=""><strong>FAQ's</strong></a>
                            <a class="dropdown-item" routerLink="cocineros" routerLinkActive="active"  href=""><strong>COCINEROS</strong></a>

                          </div>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active"  routerLink="publica-paella" routerLinkActive="active"  href="" *ngIf="this.guard.loggedIn==true"> <strong>PUBLICAR PAELLA</strong></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active" routerLink="panel-usuario" routerLinkActive="active"  href="" *ngIf="this.guard.loggedIn==true"> <strong>MI PERFIL</strong></a>

                        </li>

                      </ul>



                      <div class="form-inline my-2 my-lg-0">
                        <ul class="navbar-nav mr-auto">   



<!--                           <a type="button" routerLink="/paella/{{Paella.id}}" routerLinkActive="active" href="" class="btn btn-sm btn-outline-secondary mr-1">Mas info</a>
 -->
                        <li class="nav-item ml-4 mr-4">
                    <a href="" routerLink="login" routerLinkActive="active" *ngIf="this.guard.loggedIn==false" class="letra-header inout"> <strong class="inoutl">Acceder</strong> </a>
                    <a href="" routerLink="login" routerLinkActive="active" *ngIf="this.guard.loggedIn==true" (click)="logout()" class="letra-header inout"> <strong class="inoutl">Salir</strong> </a>
                  </li>

                  <li class="nav-item ml-4 mr-4">
                                        <a href="" routerLink="register" routerLinkActive="active" class="registrarse"> <strong>Registrarse</strong> </a> 
                  </li>
        
                    <li class="nav-item ml-4 mr-4">

                    </li>

                   </ul>
                   
                      </div>
                    </div>

                  </div>
                 
                </nav>
            





               <!-- </div> -->
        
        
        
        
          
