.bg-gris{
    background-color: 
    #585757;
    height: 300px;
}
.letra-footer{
    color: #d3d3d3;
}
 .letra-footer2{
    color: rgb(255, 255, 255);
/*     font-family: 'Quicksand', sans-serif; */
 
}
.buscador{
    border: 0;
    border-radius: 5px;
    background-color: #d3d3d3;
    color:#222222;
    display: inline;
    height: 50px;
    width: 400px;
   }
button{
    background-color: black;
}

.d-flex{
    display: flex;
}
.d-block{
    display: block;
}
.bg-amarillo{
    background-color: rgb(133, 133, 0);
    height: 10px;
}
.bg-cyan{
    background-color: cyan;
}
.lres{
    color: #000000;
    font-weight: 700;
  }
  
  .res{
    text-decoration: none;
    padding: 8px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 300;
    background-color: #bdbdbd;
    border-radius: 20px;
  
  }