
#caja-footer,
.caja-footer-izquierdo,
.caja-footer-derecho,
.caja-footer-centro,
.caja-debajo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja-footer-izquierdo,
.caja-footer-centro,
.caja-footer-derecho {
    flex-direction: column;
}

.caja-footer-derecho input {
    width: 75%;
}

.caja-footer-derecho button {
    border-radius: 10px;
    border-style: none;
    padding-left: 5px 20px 5px 20px;
    width: 100px;
}

.caja-footer-izquierdo div:nth-child(1) {
    width: 150px;
}

.caja-footer-centro {
    padding-top: 20px;
}