<style>      /* estos estilos no me deja meterlos el css por algun motivo, asi que los dejo por aqui */

  a:hover {
    color: #ffffff;
    text-decoration: underline;
  }

  </style>
  
<link rel="preconnect" href="https://fonts.gstatic.com"><!--letra font-->
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&family=Roboto:ital@1&display=swap" rel="stylesheet">


<div class="container-fluid">
    <div class="row bg-gris">

     
        <div class="col-xl-4 d-flex align-items-center justify-content-center">


        
         



        </div>

        <div class="col-xl-4 d-flex align-items-center justify-content-center">
<div class="row">         
  
  <p class="letra-footer2 mr-4 mb-3">
    
    <strong class="letra-footer ml-2 mr-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
      Accusantium aliquid porro possimus rerum exercitationem facere architecto quos quam amet dolorem illum ut recusandae rem aspernatur explicabo, 
      sit totam? Velit, similique?</strong> 
    
    </p>



              <a title="Aviso" routerLink="/avisolegal" routerLinkActive="active" href="">
                <div class="letra-footer ml-3 mr-3">Aviso Legal</div>
              </a>


              <a title="Cookies" routerLink="/cookies" routerLinkActive="active" href="">
                <div class="letra-footer ml-3 mr-3">Politica de cookies</div>
              </a>

              <a title="Contact" routerLink="/faq" routerLinkActive="active" href="">
                <div class="letra-footer ml-3 mr-3">Preguntas Frecuentes</div>
              </a>

</div>
            

       </div>  
       
      
       <div class="col-xl-4 bg-negro align-items-center justify-content-center">


        <div class="row pt-4 mt-4 pl-3 ml-3">

          <a routerLink="/contacto" routerLinkActive="active" href="" class=" btn-sm btn-outline-secondary res mr-1"><div class="lres">Contactar</div></a>

        </div>






        <div class="row pt-4 mt-0 pl-3 ml-3">
        
       
        <p ><a (click)="saveSuscripcion()" title="Suscrito" routerLinkActive="active" class="letra-footer align-items-center justify-content-center" href="">SUSCRÍBETE A NUESTRA NEWSLETTER*</a></p>

       </div>


       <div class="row ml-2">

                <p> <input [(ngModel)]="suscripcion.email" class="ml-4 pl-4 buscador" type="text" name="email" size="25" placeholder="Email"></p>

              </div>


              <div class="row ml-2">

               <mat-checkbox></mat-checkbox> <p> <label class="ml-2 letra-footer2" for="cbox2"> Acepto recibir notificaciones de este sitio web y los <a href="https://peterpaellas.com/avisolegal"> terminos y condiciones</a></label></p>

              </div>



         </div>  

          


<!--   <div class="col-xl-4 col-md-4 caja-footer-derecho">
    <button title="Suscrito">Contactar</button>
    <p>¡SUSCRÍBETE A NUESTRA NEWSLETTER!</p>
    <input [(ngModel)]="suscripcion.email" class="form-control" type="email" name="email" size="25"
      placeholder="e-mail...">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="customCheck1">
      <label class="custom-control-label" for="customCheck1">Quiero recibir notificaciones de este sitio web*</label>
    </div>
  </div> -->

</div>