<link rel="preconnect" href="https://fonts.gstatic.com">
<!--letra font-->
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&family=Roboto:ital@1&display=swap"
  rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.css">

<div class="container-fluid" id="caja-footer">
  <div class="col-xl-4 col-md-4 caja-footer-izquierdo">
    <div>
      <img src="../../assets/images/Logorecortado.JPG" alt="" class="img-fluid">
    </div>
    <div class="caja-debajo">
      <i class="fab fa-facebook fa-3x mr-2"></i>
      <i class="fab fa-twitter-square fa-3x mr-2"></i>
      <i class="fab fa-instagram-square fa-3x"></i>
    </div>
  </div>

  <div class="col-xl-4 col-md-4 caja-footer-centro">
    <p>
      Peter paellas es una pagina web en la que podrás elegir y comer la paella que mas te
      guste de nuestra amplia selección. En solo un par de clicks puedes reservar tu plaza ¡no te quedes sin comer!
    </p>
    <div class="caja-debajo">
      <a title="Contact" routerLink="/contacto" routerLinkActive="active" routerLink="/contacto">
        <strong>Contacta con nosotros</strong>
      </a>
      <a title="Aviso" routerLink="/avisolegal" routerLinkActive="active" routerLink="/avisolegal">
        <strong>Aviso Legal</strong>
      </a>
      <a title="Cookies" routerLink="/cookies" routerLinkActive="active" routerLink="/cookies">
        <strong>Politica de cookies</strong>
      </a>
    </div>
  </div>


  <div class="col-xl-4 col-md-4 caja-footer-derecho">
    <button title="Suscrito">Contactar</button>
    <p>¡SUSCRÍBETE A NUESTRA NEWSLETTER!</p>
    <input [(ngModel)]="suscripcion.email" class="form-control" type="email" name="email" size="25"
      placeholder="e-mail...">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="customCheck1">
      <label class="custom-control-label" for="customCheck1">Quiero recibir notificaciones de este sitio web*</label>
    </div>
  </div>

</div>