<link rel="preconnect" href="https://fonts.gstatic.com"><!--letra font-->
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&family=Roboto:ital@1&display=swap" rel="stylesheet">
<div class="container-fluid">
    <div class="row bg-amarillo">

    </div>
</div>

<div class="container-fluid">
    <div class="row bg-negro">

        <div class="col-xl-3 d-flex align-items-center justify-content-center">

            <h3 class="letra-footer2"><strong>Peter Paellas</strong></h3>
   
   
           </div>

        <div class="col-xl-3 d-flex align-items-center justify-content-center">


        
         <p class="letra-footer2">Peter paellas es una pagina web en la que podrás elegir y comer la paella que mas te guste de nuestra amplia selección. <br><br>
         En solo un par de clicks puedes reservar tu plaza ¡no te quedes sin comer! </p>



        </div>

        <div class="col-xl-3 d-flex align-items-center justify-content-center">

            <a title="Contact" routerLink="/contacto" routerLinkActive="active" href="/contacto">
                <strong class="letra-footer2">Contacta con nosotros</strong>
              </a>


              <a title="Aviso" routerLink="/avisolegal" routerLinkActive="active" href="/avisolegal">
                <strong class="letra-footer2">Aviso Legal</strong>
              </a>


              <a title="Cookies" routerLink="/cookies" routerLinkActive="active" href="/cookies">
                <strong class="letra-footer2">Politica de cookies</strong>
              </a>

              

       </div>  
       
      
       <div class="col-xl-3 bg-negro d-flex align-items-center justify-content-center">
               
       
        <a title="Suscrito" routerLink="" routerLinkActive="active" href=""><h3 class="letra-footer2"><strong>¡SUSCRÍBETE!</strong></h3></a>

                <p> <input  class="ml-4" type="text" name="email" size="25" placeholder="e-mail..."></p>

          

         </div>  

          


    </div>
</div>