.bg-gris{
    background-color: 
    #585757;

}
.letra-footer{
    color: #d3d3d3;
}
 .letra-footer2{
    color: rgb(255, 255, 255);
/*     font-family: 'Quicksand', sans-serif; */
 
}
.buscador{
    border: 0;
    border-radius: 5px;
    background-color: #d3d3d3;
    color:#222222;
    display: inline;
    height: 50px;
    width: 350px;
   }
button{
    background-color: black;
}

.caja-footer-derecho input {
    width: 75%;
}

.caja-footer-derecho button {
    border-radius: 10px;
    border-style: none;
    padding-left: 5px 20px 5px 20px;
    width: 100px;
}

.caja-footer-izquierdo div:nth-child(1) {
    width: 150px;
}
.bg-cyan{
    background-color: cyan;
}
.lres{
    color: #000000;
    font-weight: 700;
  }
  
  .res{
    text-decoration: none;
    padding: 8px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 300;
    background-color: #bdbdbd;
    border-radius: 20px;
  
  }
