<div class="container-fluid" id="caja-activar-cuenta">
    <div class="container">
        <h3 class="text-center">ACTIVAR CUENTA</h3>
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <p>
                    Muchas gracias por registrarse en Peter Paellas. Le hemos enviado un email con las instrucciones
                    para activar su cuenta.
                </p>
            </div>
            <div class="col-md-6">
                <img src="../../../assets/images/mailbox.jpg" alt="">
            </div>
        </div>
    </div>
</div>