<div class="container-fluid">
  <div class="container mt-4 mb-4">

    <div class="col-md-8 col-lg-6 caja-formulario">
      <h5>¡ENVÍANOS UN E-MAIL! </h5>

      <p> Si tienes alguna duda o necesitas más información, no dudes en contactar con nosotros</p>

      <form>
        <div class=" form-group">
          <input class="form-control" type="text" size="40" placeholder="Nombre">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" size="40" placeholder="Apellidos">
        </div>
        <div class="form-group">
          <input class="form-control" type="tel" size="40" pattern="[0-9]{9}" placeholder="Teléfono">
        </div>

        <div class="form-group">
          <input class="form-control" type="text" size="40" placeholder="E-mail">
        </div>

        <div class="form-group">
          <textarea class="form-control" type="text" rows="5" placeholder="Mensaje"></textarea>
        </div>

        <div class="form-group caja-terminos mt-3">
          <div>
            <input type="checkbox" id="terminos-condiciones">
          </div>
          <label for="terminos-condiciones">
            Doy mi consentimiento de mis datos personales a
            Peter Paellas para que pueda atender mis
            mensajes y solicitudes.
            <a routerLink="/"> Más información aquí</a>
          </label>
        </div>

        <div class="form-group d-flex justify-content-center align-items-center mt-5">
          <button class="btn-paella btn-paella-aceptar">Enviar</button>
        </div>


      </form>
    </div>

  </div>
</div>