<div class="container-fluid">
    
    <div class="row align-items-end justify-content-center mt-4">
          <div class="col-md-4 mt-4 mb-4 h4">
            
            <h4>1.- COOKIES Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo laboriosam suscipit, voluptatum ab deserunt fuga? Voluptatum similique, quod magnam corporis rem eum consequuntur, velit possimus nobis vel amet voluptatibus dolorem.</h4>
      
            <hr/>

            <h4>2.- COOKIES Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo laboriosam suscipit, voluptatum ab deserunt fuga? Voluptatum similique, quod magnam corporis rem eum consequuntur, velit possimus nobis vel amet voluptatibus dolorem.</h4>

            <hr/>

            <h4>3.- COOKIES Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo laboriosam suscipit, voluptatum ab deserunt fuga? Voluptatum similique, quod magnam corporis rem eum consequuntur, velit possimus nobis vel amet voluptatibus dolorem.</h4>
           
            <hr/>
           
            <h4>4.- COOKIES Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo laboriosam suscipit, voluptatum ab deserunt fuga? Voluptatum similique, quod magnam corporis rem eum consequuntur, velit possimus nobis vel amet voluptatibus dolorem.</h4>
      
            <hr/>

            <h4>5.- COOKIES Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo laboriosam suscipit, voluptatum ab deserunt fuga? Voluptatum similique, quod magnam corporis rem eum consequuntur, velit possimus nobis vel amet voluptatibus dolorem.</h4>
      
            <hr/>
      
        </div>
   </div>
