.container-fluid {
    background-image: url();
    background: linear-gradient(to right, rgb(0 0 0 / 50%), rgb(0 0 0 / 50%)), url("/assets/images/fondo1.jpg");
    text-align: center;
    background-size: cover;
    background-position: center;
}

.h4 {
    color: #000000;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.3;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
}

.bg-white {
    background-color: white;
    margin-bottom: 20px;
}

.bg-color {
    background: linear-gradient(to bottom, rgb( 255 255 255 / 50%), #ffefd5);
    background-color: #ffefd5;
}

.letra {
    font-size: 15px;
    font-weight: 500;
}

.titulo {
    color: #595959;
    font-size: 40px;
    font-weight: 600;
    margin-top: 30px;
}

.marron {
    color: #8b5a17;
    font-size: 20px;
    font-weight: 400;
}