<!-- <div class="container-fluid">
    
    <div class="row align-items-end justify-content-center mt-4">
          <div class="col-md-4 mt-4 mb-4 h4">
            
            <h4>1.- COOKIES Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo laboriosam suscipit, voluptatum ab deserunt fuga? Voluptatum similique, quod magnam corporis rem eum consequuntur, velit possimus nobis vel amet voluptatibus dolorem.</h4>
      
            <hr/>

            <h4>2.- COOKIES Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo laboriosam suscipit, voluptatum ab deserunt fuga? Voluptatum similique, quod magnam corporis rem eum consequuntur, velit possimus nobis vel amet voluptatibus dolorem.</h4>

            <hr/>

            <h4>3.- COOKIES Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo laboriosam suscipit, voluptatum ab deserunt fuga? Voluptatum similique, quod magnam corporis rem eum consequuntur, velit possimus nobis vel amet voluptatibus dolorem.</h4>
           
            <hr/>
           
            <h4>4.- COOKIES Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo laboriosam suscipit, voluptatum ab deserunt fuga? Voluptatum similique, quod magnam corporis rem eum consequuntur, velit possimus nobis vel amet voluptatibus dolorem.</h4>
      
            <hr/>

            <h4>5.- COOKIES Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo laboriosam suscipit, voluptatum ab deserunt fuga? Voluptatum similique, quod magnam corporis rem eum consequuntur, velit possimus nobis vel amet voluptatibus dolorem.</h4>
      
            <hr/>
      
        </div>
   </div>
 -->

 <div class="container-fluid p-0">
  <div id="fondo">

    <div class="roboto">
    
    
    <div class="row align-items-center justify-content-center">
    
        <div class="col-lg-8 bg-color ">
          <p class="titulo"> COOKIES</p>

          <div class="col-lg-12 bg-white ">

            <p class="marron"> <strong> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae aperiam hic quaerat! Architecto, quo. Omnis quaerat at mollitia exercitationem dolor delectus nemo, voluptate numquam expedita veritatis ex vitae inventore. Natus!</strong></p>

          <hr/>

          <p class="letra">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore debitis repellendus amet ab doloribus voluptate! In, nobis recusandae minima a praesentium asperiores explicabo quasi totam earum doloribus ab tenetur? Assumenda.
             Lorem, ipsum dolor sit amet consectetur adipisicing elit. In sint harum nihil voluptatum. Molestias magnam repudiandae dolor. Qui harum rerum natus nobis nihil, iste aperiam reprehenderit quod praesentium quidem. Maxime?
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas, quae inventore. Fugiat accusamus quas placeat id eos minima dolorum expedita debitis ab officia, tempora, cupiditate sed illum, assumenda magnam nisi. 
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora maxime soluta nisi harum voluptas qui pariatur exercitationem nihil, expedita debitis facilis quas sequi commodi consectetur aperiam nam suscipit saepe excepturi.
            </p>

        </div>
      </div>
    </div>
  </div>
</div>
</div>