<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!--estrellitas-->
<link rel="preconnect" href="https://fonts.gstatic.com"><!--letra font-->
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&family=Roboto:ital@1&display=swap" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container-fluid  bg-color">

  <div class="row justify-content-center">
  <div class="col-md-10 bg-white margenes">


<div class="row margenes-interiores">

    <div class="col-md-3 ml-4">

    <img src="https://peterpaellas.com/lvel/public{{user.foto}}" width="100%" height="225" class="mt-4 mb-4">
    
    </div>

    <div class="col-md-6 mt-4 ml-4">

      <p class="marron mb-4">¡HOLA! SOY {{user.name}} </p>

      <p> <img src="/assets/images/location.png"> {{user.ubicacion}} </p>

      <p> <img src="/assets/images/restaurant.png"> Paellas publicadas {{numpaellas}} </p>  <!-- queda pendiente crear una variable foreach paella -->

      <div class=" mb-4 caja-estrellas">             <!--Esto deberia ir con un ng for segun las estrellas del cocinero pero el problema es que tampoco hay donde puntuar cocineros,-->
                                                      <!-- asi que las que tienen son aleatorias, pero vamos cuando se incluya deberia ser segun user.calificacion una estrella y au -->
         <!-- <i class="ml-1 fa fa-star checked"></i>     
        <i class="ml-1 fa fa-star checked"></i>
        <i class="ml-1 fa fa-star checked"></i>
        <i class="ml-1 fa fa-star "></i>
        <i class="ml-1 fa fa-star"></i>  -->
        <div *ngIf="this.logeado == true">
         <ng-template #t let-fill="fill" >
          <span class="star" [class.full]="fill === 100">
            <span class="ratio" [style.width.%]="fill">&#9733;</span>&#9733;
          </span>
        </ng-template>
      
        <ngb-rating class="grande" [(rate)]="currentRate" [starTemplate]="t" [max]="5" (rateChange)="rating($event)"></ngb-rating> </div>



        <div *ngIf="this.logeado == false">
          <ng-template #t let-fill="fill" >
           <span class="star" [class.full]="fill === 100">
             <span class="ratio" [style.width.%]="fill">&#9733;</span>&#9733;
           </span>
         </ng-template>
       
         <ngb-rating class="grande" [(rate)]="currentRate" [starTemplate]="t" [max]="5" (hover)="nolog()"></ngb-rating> </div>
        <!-- <ngb-rating [(rate)]="currentRate" [max]="5">
          <ng-template let-fill="fill" let-index="index">
            <span class="star" [class.filled]="fill === 100">&#9733;</span>
          </ng-template>
        </ngb-rating> -->
        
      </div>



      
<div class="gris">{{user.veces_puntuado}} VALORACION(ES)</div>  <!--Esto esta asi porque no hay donde reseñar las paellas asi que porque salga algun numero logico, pero vamos-->
   
      
    </div>
  </div>


<div class="d-flex  mr-4 ml-4 pl-4 pr-4 flex-wrap">
  <div *ngFor="let Paella of paellas" >

    <div *ngIf="Paella.usuario_id == user.id" >

      <div class=" mr-4 ml-4 pl-4 pr-4  bg-tarjeta">
        <div class="row">
          <div class="col-md-2">
          <img src="https://peterpaellas.com/lvel/public/{{Paella.foto}}" routerLink="/paella/{{Paella.id}}" routerLinkActive="active" class="mt-4 mb-4" width="55px" height="55px">

          </div>
          <div class="col-md-10">
          <a routerLink="/paella/{{Paella.id}}" routerLinkActive="active" class="letra-negra pt-2">{{Paella.nombre}}, {{Paella.ubicacion}}. {{Paella.provincia}} </a>
          <p class="fecha-gris"> {{Paella.fecha}}</p>
            
          </div>
        </div>

        <div class="col-md-12 justify-content-between align-items-center">
        <p class="letra-gris">{{Paella.descripcion}}</p>
        </div>


      </div>

    </div>     <!-- el if -->
    </div>     <!-- el for -->

  </div>


  </div>      

 

</div>