.search-box {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../assets/images/fondo1.jpg");
    background-size: cover;
    background-position: center;
}

.search-box h3 {
    color: #fff;
}


/* custom select */

.custom-select-arrow {
    appearance: none;
    background-position-x: 244px;
    background: url(../../../assets/images/triangledown.svg) no-repeat 94% 50% #ffefd5;
    background-size: 15px;
    border: 0;
    border-radius: 3px 3px 0 0;
    font-size: 16px;
    height: 75px;
    line-height: 1;
    width: 100%;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.custom-select-gps {
    appearance: none;
    background-position-x: 244px;
    background: url(../../../assets/images/gps.svg) no-repeat 94% 50% #ffefd5;
    background-size: 20px;
    border: 0;
    border-radius: 3px 3px 0 0;
    font-size: 16px;
    height: 75px;
    line-height: 1;
    width: 100%;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.custom-select-calendar {
    appearance: none;
    background-position-x: 244px;
    background: url(../../../assets/images/calendar.svg) no-repeat 94% 50% #ffefd5;
    background-size: 20px;
    border: 0;
    border-radius: 3px 3px 0 0;
    font-size: 16px;
    text-align: left;
    height: 75px;
    line-height: 1;
    width: 100%;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-left: 20px;
}


/* custom date picker */

.custom-date-picker {
    position: absolute;
    display: flex;
    z-index: 1000;
    top: 75px;
    width: 100%;
}

.custom-date-picker .custom-date-picker-info div {
    background: burlywood;
    padding: 20px;
    text-align: left;
}

.custom-date-picker .custom-date-picker-info div p {
    font-size: 12px;
}

.custom-date-picker .custom-date-picker-info div ul {
    padding: 0;
}

.custom-date-picker .custom-date-picker-info div ul li {
    font-size: 30px;
    line-height: 40px;
    color: saddlebrown;
}

.custom-date-picker .custom-date-picker-calendar {
    background: #FFFFFF;
}


/* select chekbox */

.custom-select-opened {
    position: absolute;
    top: 75px;
    z-index: 9999;
}

.checkboxes {
    border: 1px #ffefd5 solid;
    background: #FFFFFF;
    height: 250px;
    overflow: auto;
}

.checkboxes label {
    margin: 0;
    padding: 0 20px;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px #ffefd5 solid;
}

.checkboxes label:hover {
    background-color: #1e90ff;
}

.checkboxes input {
    height: 20px;
    width: 20px;
    border-color: #ffefd5;
}

.multiselect {
    width: 200px;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    font-weight: bold;
}

.overSelect1,
.overSelect2 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}


/* caja buscador */

.overSelect1 div,
.overSelect2 div {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.overSelect1 .custom-item-select,
.overSelect2 .custom-item-select {
    position: relative;
    margin-right: 20px;
    color: #000;
}

.caja-buscador-paellas {
    padding-top: 80px;
}

.caja-buscador-paellas .col-12 {
    margin-bottom: 25px;
}

.caja-buscador-paellas button {
    text-decoration: none;
    padding: 10px 50px;
    font-size: 20px;
    background-color: #ffffff;
    border-radius: 40px;
    border: 2px solid #ffffff;
    color: #8b5a17;
    float: right;
}

.caja-buscador-paellas button:hover {
    background: transparent;
    color: #fff;
}

.caja-buscador-paellas span {
    position: absolute;
    left: 8%;
    bottom: 0;
    color: lightgray;
}

.custom-span-info {
    position: absolute !important;
    bottom: -30px !important;
}

.dropdownmenu {
    background-color: rgba(0, 0, 0, 0.6);
    display: inherit;
}


/* seccion de la parte de las paellas */

.main-title {
    letter-spacing: 2px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.subtitule {
    font-size: 18px;
}

.card {
    padding: 20px 0;
    box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.2);
}

.nombre-paella,
.ubicacion-paella,
.fecha-paella,
.info-cocinero {
    padding: 0 20px;
}

.info-cocinero,
.nombre-paella {
    display: flex;
    height: 50px;
}

.nombre-paella {
    margin-top: 15px;
    margin-bottom: 35px;
    justify-content: space-between;
    align-items: center;
}

.nombre-paella h3 {
    width: 75%;
}

.paella-icon-svg {
    width: 25px;
}

.img-destacada-paella {
    width: 100%;
    max-height: 200px;
}


/* info cocinero */

.info-cocinero {
    margin-top: 30px;
}


/* caja de estrellas */

.contenedor-valoraciones {
    width: 50%;
    display: flex;
    justify-content: center;
}

.caja-estrellas {
    direction: rtl;
    unicode-bidi: bidi-override;
}

.caja-estrellas input[type="radio"] {
    display: none;
}

.caja-estrellas label {
    color: grey;
}

.caja-estrellas label:hover,
.caja-estrellas label:hover~label {
    color: orange;
    cursor: pointer;
}

.caja-estrellas input[type="radio"]:checked~label {
    color: orange;
}

.btn-paella {
    padding: 10px 30px;
    border-radius: 40px;
    font-size: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.btn-paella-aceptar {
    background: #FFEED5;
    color: #804B00;
    border: none;
}

@media only screen and (max-width:576px) {
    .letra-blanca {
        font-size: 25px;
    }
    .caja-buscador-paellas {
        padding: 10px 50px;
    }
    .caja-buscador-paellas button {
        width: 100%;
        float: none;
    }
    .card .nombre-paella {
        align-items: center;
        margin-top: 0;
        margin-bottom: 20px;
    }
    .card .nombre-paella h3 {
        font-size: 20px;
        width: 75%;
    }
    .card .nombre-paella img {
        width: 45px;
    }
    .ubicacion-paella {
        padding: 0 !important;
        margin-top: 0 !important;
        margin-bottom: 10px !important;
    }
}

@media only screen and (min-width:577px) and (max-width:768px) {
    .letra-blanca {
        font-size: 25px;
    }
    .caja-buscador-paellas {
        padding: 10px 50px;
    }
    .caja-buscador-paellas button {
        width: 100%;
        float: none;
    }
    .card .nombre-paella {
        align-items: center;
        margin-top: 0;
        margin-bottom: 20px;
    }
    .card .nombre-paella h3 {
        font-size: 20px;
        width: 80%;
    }
    .card .nombre-paella img {
        width: 45px;
    }
    .ubicacion-paella {
        padding: 0 !important;
        margin-top: 0 !important;
        margin-bottom: 10px !important;
    }
}

@media only screen and (min-width:768px) and (max-width:992px) {
    .letra-blanca {
        font-size: 25px;
    }
    .caja-buscador-paellas {
        padding: 10px 50px;
    }
    .caja-buscador-paellas button {
        width: 100%;
        float: none;
    }
    .card .nombre-paella {
        align-items: center;
        margin-top: 0;
        margin-bottom: 20px;
    }
    .card .nombre-paella h3 {
        font-size: 20px;
        width: 80%;
    }
    .card .nombre-paella img {
        width: 45px;
    }
    .ubicacion-paella {
        padding: 0 !important;
        margin-top: 0 !important;
        margin-bottom: 10px !important;
    }
    .caja-buscador-paellas {
        padding: 10px 0;
    }
}