<div class="container-fluid p-0">
  <div id="fondo">
    <div class="roboto">
      <div class="row">

        <div class="col-md-3 offset-md-2 header-info">
          <div class="row">
            <div class="col-md-7">
              <img src="../../../assets/images/logo-blanco.png" class="paellaMain p-0">
            </div>

            <div class="col-md-11 mt-3">
              <h3 class="letra-blanca text-left">
                <strong>Sunt autem vel eum iure reprehenderit, qui dolorem eum iure.</strong>
              </h3>
            </div>
            <div class="col-md-11 mt-2">
              <p class="text-white text-left">Quae fuerit causa, nollem me ab eo ortum, tam egregios viros censes aut
                rerum necessitatibus saepe eveniet, ut ad eam non ero tibique, si
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-3 offset-md-1 caja-buscador-paellas">
          <div class="row">
            <!-- select de los tipos de paellas -->

            <div class="col-12">
              <div class="row">
                <div class="col-12" (click)="toggleSelect(1)">
                  <select [(ngModel)]="filter.tipoPaella" class="custom-select-arrow">
                    <option *ngFor="let tipo of tipoPaellas" [ngValue]="tipo.id_tipo_paella">
                      {{tipo.tipo_paella_nombre}}
                      <input type="checkbox" name="" id="">
                    </option>
                  </select>
                  <div class="overSelect1"></div>
                  <span>Elije tu paella</span>
                </div>
                <div class="col-12 custom-select-opened" *ngIf="tipoPaellaselectOpened">
                  <div class="checkboxes">
                    <label *ngFor="let tipo of tipoPaellas" for="{{tipo.id_tipo_paella}}">
                      {{tipo.tipo_paella_nombre|uppercase}}<input type="checkbox" id="{{tipo.id_tipo_paella}}" />
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <!-- select de las provincias -->
            <div class="col-12">
              <div class="row">
                <div class="col-12" (click)="toggleSelect(2)">
                  <div class="custom-select-gps">
                    <select [(ngModel)]="filter.ubicacion" class="custom-select-arrow">
                      <option [selected]>Busca tu provincia</option>
                      <option *ngFor="let provincia of provincias" [ngValue]="provincia.id_provincia">
                        {{provincia.provincia_nombre}}
                      </option>
                    </select>
                    <div class="overSelect2"></div>
                  </div>
                </div>
                <div class="col-12 custom-select-opened" *ngIf="provinciaSelectOpened">
                  <div class="checkboxes">
                    <label *ngFor="let provincia of provincias" for="{{provincia.id_provincia}}">
                      {{provincia.provincia_nombre}}<input type="checkbox" id="{{provincia.id_provincia}}" />
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <!-- input de las fechas -->
            <div class="col-12">
              <input #fechaRef class="custom-select-calendar" value="Seleccione una fecha" type="button"
                (click)="toggleCalendar()">

              <div class="custom-date-picker" *ngIf="calendarOpened">
                <div class="col-4 p-0 custom-date-picker-info">
                  <div>
                    <p>SELECCIONA UNA FECHA</p>
                    <ul>
                      <li>{{diaSemana|titlecase|slice:0:3}},</li>
                      <li>{{mesNombre|titlecase|slice:0:3}}</li>
                      <li>{{diaNum}}</li>
                    </ul>
                  </div>
                </div>
                <div class="col-8 p-0 custom-date-picker-calendar">
                  <mat-calendar (selectedChange)="seleccionarFecha($event)"></mat-calendar>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12">
            <button type="button" (click)="buscar()" class="button-paella button-paella-outline"> Buscar </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="bg-paellas">
  <div class="container">

    <div class="row">
      <div class="roboto col-md-12 mt-4 h3">
        PAELLAS DESTACADAS
      </div>

      <div class="col-md-5 mr-auto ml-auto">
        <p class="text-center">
          Descubre los platos destacados de los cocineros mejores valorados y encuentra el que más encaje con tus gustos
        </p>
      </div>

      <div class="col-md-4 mt-4" *ngFor="let Paella of paellas ">
        <div class="card mb-4 shadow-sm">
          <div class="row">
            <div class="col-md-3"><img src="/assets/images/avatarSimbolo.png" class="mt-3 mb-3 ml-3 mr-3"></div>
            <div class="col-md-9">
              <p class="mt-2  mr-2" routerLink="/paella/{{Paella.id}}" routerLinkActive="active">
                <strong>{{Paella.nombre}}</strong>
              </p>
              <p class="mt-2  mr-2">{{Paella.cocinero}}</p>
            </div>
          </div>

          <img src="https://peterpaellas.com/lvel/public{{Paella.foto}}" class="fotos"
            alt="https://peterpaellas.com/lvel/public/foto.jpg" routerLink="/paella/{{Paella.id}}" routerLin
            kActive="active">

          <div class="card-body">
            <p class="card-text h2 descripcion justify-content-between align-items-center"> {{Paella.descripcion}}
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <div onclick="window.scrollTo(0, 0);"><a type="button" routerLink="/paella/{{Paella.id}}"
                    routerLinkActive="active" href="" class=" btn-sm btn-outline-secondary res mr -1">
                    <div class="lres">Reservar</div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>