<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!--estrellitas-->

    <div class="container-fluid p-0">
      
      <div id="fondo">
      <div class="row">
        <div class="col-md-4" *ngFor="let cocinero of cocineros" >
          <div class="card mb-4 shadow-sm">
            <img src="https://www.flaticon.es/svg/static/icons/svg/206/206898.svg" width="100%" height="225" class="mt-1">
            <!--<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
              preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
              <title>Placeholder</title>
              <text x="50%" y="50%" fill="#eceeef"
                dy=".3em">Thumbnail</text>
            </svg> -->
            <div class="card-body">
              <p class="card-text">{{cocinero.nombre}}. De {{cocinero.lugar}}. Tipos de paellas: {{cocinero.cocina}}. Hace paellas: {{cocinero.dias}}.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <div onclick="window.scrollTo(0, 0);"><a type="button" routerLink="/perfil/{{cocinero.id}}" onclick="scroll(-10000,0)" routerLinkActive="active" href="" class="btn btn-sm btn-outline-secondary">Perfil</a></div>

                </div>

                <div class="d-flex justify-content-start align-items-center">
                  <span class="ml-2 mb-2 fa fa-star checked"></span>
                  <span class="ml-2 mb-2 fa fa-star checked"></span>
                  <span class="ml-2 mb-2 fa fa-star checked"></span>
                  <span class="ml-2 mb-2 fa fa-star "></span>
                  <span class="ml-2 mb-2 fa fa-star"></span> 
                  </div>

              </div>
            </div>
          </div>
        </div>         
    </div>
</div></div>

