div.container-fluid,
.col-md-4,
.caja-foto-cocinero,
.ultima-caja-cocinero,
.caja-estrellas {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.container-fluid {
    background-color: #ffefd5;
    background: linear-gradient(to bottom, rgb( 255 255 255 / 10%), #ffefd5);
}

div.container {
    margin-bottom: 50px;
    margin-top: 50px;
}

.col-md-4 {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
}

.cocinero {
    background-color: #FFF;
    height: 375px;
    width: 100%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding-right: 20px;
    padding-left: 20px;
}

.cocinero .nombre-cocinero {
    text-align: center;
    margin-top: 25px;

}

.titulo-name{
    text-align: center;
    margin-top: 25px;
    font-weight: 500;
    color: grey;
    font-size: 20px;
}

img.rounded-circle {
    width: 150px;
    height: 150px;
}

.ubicacion-cocinero {
    margin-top: 20px;
    text-align: center;
}

.ultima-caja-cocinero {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    flex-grow: 1.6;
}

.link-perfil-cocinero {
    margin-right: 20%;
}

.link-perfil-cocinero a {
    text-decoration: none;
    color: saddlebrown;
    font-weight: bold;
}
.checked {
    color: rgb(248, 223, 0);
  }
  .letraGris{
color:grey;
  }

  .star {
    position: relative;
    display: inline-block;
    font-size: 2rem;
    color: #d3d3d3;
  }
  .full {
    color: rgb(248, 223, 0);
  }
  .ratio {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: rgb(248, 223, 0);
  }