.paella-icon {
    width: 15px;
}

.card {
    height: 100%;
}

.card-body {
    text-align: center;
    padding: 35px 0;
}

.card-text {
    font-size: 18px;
}

.card .card-body a {
    font-size: 20px;
    text-decoration: none;
    color: #8b5a17;
    font-weight: bold;
    margin-top: 20px;
}

.nombre-cocinero {
    height: 80px;
    padding: 0 40px;
}

.text-cantidad-paellas {
    margin: 0;
}

.ubicacion {
    height: 50px;
    padding: 0 40px;
}

.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffefd5;
    background: linear-gradient(to bottom, rgb( 255 255 255 / 10%), #ffefd5);
}

.container {
    margin: 50px 0;
}

.img-cocinero {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.caja-estrellas i {
    margin-right: 5px;
    font-size: 20px;
    color: yellow;
}