
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 margenTarjeta align-items-center justify-content-center">
      <form action="reserva.php" method="POST">
        <h3>¡RESERVA TU PAELLA!    </h3>
        <hr/>

<p class="margenInputs"><input [(ngModel)]="reserva.nombre" class="inputs" type="text" name="nombre" size="40" placeholder="Nombre completo*" required></p>

<p class="margenInputs"><input [(ngModel)]="reserva.telefono" class="inputs" type="tel" name="telefono" size="40" pattern="[0-9]{9}" placeholder="Telefono*" required></p>

<p class="margenInputs"><input  [(ngModel)]="reserva.email" class="inputs" type="text" name="email" size="40" placeholder="Email*" required></p>

<hr/>


<div class="row">
 <div class="col-md-6">

   

  
     <div class="raciones margenCentral bordeMarron d-flex justify-content-between">
       
      <span class="margenRaciones"> Nª raciones</span>
      <input class="contador"  [(ngModel)]="reserva.personas"  id="personas" min="1" name="form-0-quantity" value="1" type="number">
    
    
    </div>

        <!--<select [(ngModel)]="reserva.personas" name="raciones">
        <option value="" selected disabled>Nº Raciones</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        

      </select> --> 
    </div>

    
    <div class="col-md-4  margenverhacer" *ngIf="selectedPaella.ver_hacer_paella == true">
      Quiero ver como se hace la paella

     
    </div>
     
    <div class="col-md-1" *ngIf="selectedPaella.ver_hacer_paella == true"> 
      <mat-checkbox id="ver_hacer_paella" class="" [(ngModel)]="reserva.ver_hacer_paella" name="ver_hacer_paella"></mat-checkbox>
    </div>
        <br>

      </div>

<div class="row">

     
        <div class="col-md-4 columnasinferiores" *ngIf="selectedPaella.ninos == true">
          Niños </div>
          <div class="col-md-1 margencheckbox" *ngIf="selectedPaella.ninos == true">
          <mat-checkbox id="ninos" class="label--checkbox" [(ngModel)]="reserva.ninos" name="ninos"></mat-checkbox>
        </div><br>
      
      
      
      
      <!-- <div class="col-md-6" *ngIf="selectedPaella.ver_hacer_paella == true">
        <label>Quiero ver como se hace la paella 
          <select [(ngModel)]="reserva.ver_hacer_paella" name="ver">
            <option value="" selected disabled>¿Ver hacer la paella?</option>
            <option value="0" selected>No</option>
            <option value="1">Si</option> </select> </label><br></div>
    </div> -->

    <div class="col-md-4 columnasinferiores" *ngIf="selectedPaella.mascota == true">
      Mascota </div>
      <div class="col-md-1 margencheckbox" *ngIf="selectedPaella.mascota == true">
      <mat-checkbox id="mascota" class="" [(ngModel)]="reserva.mascota" name="mascota"></mat-checkbox>
    </div>

  </div>




      <hr/>
      <div class="row">
        <div class="col-xl-12 d-flex align-items-center justify-content-center ">
          <p class="mt-4 letra txt-top"> <textarea  [(ngModel)]="reserva.mensaje"  class="l-input inputstextarea d-flex align-items-center justify-content-center" type="text" name="mensaje" cols="43" rows="3" placeholder="Informacion adicional: hora de llegada, alergias, mascota (si se permite), etc"></textarea> </p>
        </div>    
      </div>



      <div class="row mb-4 mt-2 d-flex align-items-center justify-content-center">
<div class="col-md-4 borde-pago bordeMarron">
      <div class="calculo mb-1">{{this.selectedPaella.precio}}€ x {{this.reserva.personas}} raciones <!--     {{this.selectedPaella.precio * this.reserva.personas}} €  --></div> 
      
    </div>
    <div class="col-md-4 borde-pago-2 bordeMarron">
      <div class="calculo mb-1">TOTAL {{this.selectedPaella.precio * this.reserva.personas}} € </div> 
      
    </div>
  </div>


      
     




 
  <div #paypal></div>

      <a type="button" class="d-flex justify-content-between align-items-center mb-4" routerLink="" routerLinkActive="active" href="" class="btn btn-sm btn-outline-secondary">Cerrar</a>
    
      
       <!--<a (click)="saveReserva()" type="submit" class="d-flex justify-content-between align-items-center mb-4" class="btn btn-sm btn-outline-secondary">Reservar plaza</a>     
 /ANTIGUO BOTON DE RESERVAR, AHORA HAY QUE GASTAR EL DE PAYPAL O TRAJETA DE CREDITO   , si solo quieres ver la reserva pon de funcion checkReserva, si quieres guardarla saveReserva--> 


     <!--<button (click)="saveReserva()" type="submit" class="btn btn-lg btn-outline-primary btn-block" >	RESERVA PAELLA</button>    
    
      este boton es solo para comprobar que saveReserva() guardaba la reserva, y lo hace, pero hay que probarlo con el pago, y PROBAR QUE EL PAGO VA DONDE TOCA QUE TIENE LA CUENTA
      DEL TIO DE YOUTUBE (ya no, ahora tiene la que me pasó dam) si simplemente quieres comprobar que en la bbdd se guarda la reserva esto te vale -->


      </form>

    </div>
  </div>
</div>


