.container-fluid {
    background-color: #f7eddf;
}

.raciones {
    border: 1px solid;
}

.checkcolor {
    color: #8b5a17;
    background-color: #ffffff;
    width: 15px;
    height: 15px;
    border: solid 2px #d9c2a3 !important;
}


/*esto de aqui abajo es lo mas parecido a una solucion que he encontrado para el mat checkbox*/

 ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.00 !important;
    background-color: #8b5a17!important;
    border: solid 2px #d9c2a3 !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #8b5a17;
    border: solid 2px #d9c2a3 !important;
}

.bordeCheck {
    border: solid 2px #d9c2a3 !important;
    border-inline-color: #d9c2a3;
}
.borde-pago {
    border-right: 2px solid #d3b791;
    margin-left: 50px;
}

.borde-pago-2 {
    margin-right: 45px;
}

.calculo {
    font-size: 20px;
    color: #878687;
}

.bordeMarron {
    border-bottom: 2px solid #d3b791;
}


.inputs {
    width: 500px;
    height: 50px;
    border-color: #d3b791;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    margin-left: 80px;
}

.inputstextarea {
    width: 500px;
    height: 250px;
    border-color: #d3b791;
    border-radius: 5px;
    border-width: 2px;
}
