.d-flex{
display: flex;
}
.bg-color{
    background-color: beige;
    height: 600px;
}
.contador{
  width: 50px;
  border:none;
}
.contador:focus{
  width: 50px;
  outline:none;
}
.raciones{
  border: 1px solid;
}

.bordeMarron{
  border-width:2px;
  border-color:#d9c2a3;
}
.borde-pago{
  border-right: 2px solid #d3b791;
  margin-left:50px;
}
.borde-pago-2{
  margin-right:45px;
}
.calculo{
  font-size: 20px;
  color: #878687;
 
}
.bordeMarron{
  border-bottom: 2px solid #d3b791;

}
 h3{
    color: #8b5a17;
    font-size: 30px;
/*      font-family: 'Quicksand', sans-serif;  */
    line-height: 1.3;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;

  } 
  .inputs{
width: 500px;
height: 50px;
border-color: #d3b791;
border-radius: 5px;
border-width: 2px;
border-style: solid;

  }
  .inputsta{
    width: 500px;
    height: 250px;
    border-color: #d3b791;
    border-radius: 5px;
    border-width: 2px;
    
      }

  select{
border-color: #d3b791;
border-width: 2px;


  }

  a{
      margin-left: 5%;
  }
  