<div class="container-fluid">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <h4 class="text-center titulo-formulario">¿QUIERES CAMBAIR LA <br>CONTRASEÑA?</h4>
                <form class="mt-5">

                    <div class="form-group row d-flex justify-content-center">
                        <label for="password-actual" class="col-sm-3 col-form-label">Contraseña actual</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="password-actual" placeholder="">
                        </div>
                    </div>

                    <div class="form-group row d-flex justify-content-center">
                        <label for="password-nueva" class="col-sm-3 col-form-label">Contraseña nueva</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="password-nueva" placeholder="">
                        </div>
                    </div>

                    <div class="form-group row d-flex justify-content-center">
                        <label for="repetir-password" class="col-sm-3 col-form-label">Repetir contraseña</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="repetir-password" placeholder="">
                        </div>
                    </div>

                    <div class="caja-botones">
                        <button class="btn-paella btn-paella-aceptar">Aceptar</button>
                        <button class="btn-paella btn-paella-cancelar">Volver</button>
                    </div>

                    <div class="form-group text-center mt-5">
                        <a href="">He olvidado mi contraseña</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>