#caja-login {
    background-color: burlywood;
    border-radius: 5px;
}

#caja-login h5 {
    color: darkgoldenrod;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

form button,
form a {
    margin-top: 20px;
}

form button,
#btn-register {
    margin-right: 8%;
}

form button {
    border-radius: 15px;
    border-style: none;
    font-weight: bold;
    color: darkgoldenrod;
    padding: 5px 15px 5px 15px;
    float: right;
}

form input {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 20px;
}

form a {
    font-size: 12px;
    color: black;
    margin-left: 5%;
    text-decoration: underline;
}

#btn-register {
    color: black;
    float: right;
}