<div class="container-fluid bg-paella-1">
    <div class="container bg-white">
        <div class="row">
            <div class="col-12">
                <div class="row">

                    <div class="col-md-3 ml-4">
                        <img [src]="cocinero?.rutaFotoPerfil" width="100%" height="225" class="mt-4 mb-4">
                    </div>

                    <div class="col-md-6 mt-4 ml-4">
                        <h2 class="text-color-1 font-weight-bold">¡HOLA! SOY {{cocinero?.usuario_nombre|uppercase}}
                        </h2>
                        <div class="mb-4 caja-estrellas">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p> <img src="/assets/images/location.png">
                            {{cocinero?.poblacion}}, {{cocinero?.provincia_nombre}} </p>
                        <p> <img src="/assets/images/restaurant.png"> 10 Paellas Publicadas </p>

                    </div>
                </div>


            </div>

            <div class="col-12">
                <h5 class="text-uppercase text-color-2 font-weight-bold">Sobre mi</h5>
                <p>
                    {{cocinero?.usuario_descripcion}}
                </p>
            </div>

            <div class="col-12">
                <h5 class="text-uppercase text-color-2 font-weight-bold">paellas publicadas en este momento</h5>
                <p>En este momento Juan no tiene ninguna paella publicada</p>
            </div>

            <div class="col-12">
                <h5 class="text-uppercase text-color-2 font-weight-bold">3 reseñas</h5>
                <div class="row">
                    <div class="col-6 col-md-4">
                        <div class="card border-radius-paella-10 bg-paella-2 border-0">
                            <div class="card-body">
                                <div class="inf-usr-valoracion">
                                    <div class="inf-usr-img"></div>
                                    <div class="inf-data-usr">
                                        <p class="data-date">10/10/2021</p>
                                        <p class="data-usr-name">willian</p>
                                        <p class="data-usr-address">Burjassot, Valencia</p>
                                    </div>
                                </div>
                                <div class="inf-usr-oppinion">
                                    <p>
                                        Quid ex eo est consecutus?
                                        laudem et negent satis esse, ut de
                                        utilitatibus, nihil impedit, quo
                                        pertineant non possim
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>