.d-flex{
    display: flex;
}

#fondo {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Paella_valenciana_01.jpg/1920px-Paella_valenciana_01.jpg);
    padding: 90px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }
  #fondo:before {
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7);
  }
  
  .letra{
    color: rgb(0, 0, 0);
    font-family: 'Quicksand', sans-serif;
 
}

  form{
      margin-left: 25%;
      margin-right: 25%;
      margin-bottom: 10%;
  }
  p{
    margin-left: 25%;
    margin-right: 25%;
}
a{
  color: black;
}