<div class="container-fluid p-0">
  <div id="fondo">
    <div class="row">
      <div class="col-sm-6 d-flex justify-content-center align-items-center">


        <form [formGroup]="myForm" (ngSubmit)="submit()">
          <div class="form-row">

            <div class="form-group col-12">
              <div class="main-image-box">
                <label for="mainImage">
                  <i class="fa fa-plus-circle fa-2x text-white"></i>
                  Añade una imagen <br> desde tu galería
                </label>
                <input type="file" (change)="handleUpload($event)" id="mainImage" class="botonimagen" placeholder="">
              </div>
            </div>

            <div class="col-4">
              <div class="images-miniatures">
                <label for="img1">
                  <i class="fa fa-plus-circle fa-2x text-white"></i>
                </label>
                <input type="file" id="img1">
              </div>
            </div>
            <div class="col-4">
              <div class="images-miniatures">
                <label for="img2">
                  <i class="fa fa-plus-circle fa-2x text-white"></i>
                </label>
                <input type="file" id="img2">
              </div>
            </div>
            <div class="col-4">
              <div class="images-miniatures">
                <label for="img3">
                  <i class="fa fa-plus-circle fa-2x text-white"></i>
                </label>
                <input type="file" id="img3">
              </div>
            </div>


            <!-- <div class="form-group col-12">
              <label for="file"><img class="img-round" src="/assets/images/subirFoto.PNG"></label>
              <input formControlName="file" id="file" type="file" class="form-control" multiple=""
                (change)="onFileChange($event)">
            </div> -->

            <img *ngFor='let url of images' [src]="url" height="150" width="200px" style="margin: 3px;"> <br />
          </div>
        </form>

        <!-- HASTA AQUI el codigo de multifoto -->

      </div>

      <div class="col-xs-4 col-sm-4 bg-white sombra">

        <form>
          <div class="form-row justify-content-center">
            <div class="form-group col-8 mb-5">
              <h3 class="letra-marron text-left"> PUBLICAR UNA PAELLA </h3>
            </div>

            <div class="form-group col-8">
              <select class="custom-input">
                <option *ngFor="let tipo of tipoPaellas" [ngValue]="tipo.id_tipo_paella">
                  {{tipo.tipo_paella_nombre}}
                </option>
              </select>
            </div>

            <div class="form-group col-8">
              <mat-form-field class="styleDatepicker">
                <input matInput [ngxMatDatetimePicker]="picker" id="fechafea" placeholder="Selecciona fecha y hora">
                <mat-datepicker-toggle matSuffix [for]="picker">
                </mat-datepicker-toggle>
                <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="true">
                </ngx-mat-datetime-picker>
              </mat-form-field>
            </div>

            <div class="form-group col-8">
              <span class="input-group-addon"></span>
              <input type="text" class="custom-input" placeholder="Ubicacion">
            </div>

            <div class="form-group col-8 d-flex justify-content-between">
              <div class="form-group col-6 d-flex justify-content-between">
                <label class="text-left" for="raciones-disponible">Raciones disponibles</label>
                <input #racionesDisponibles class="contador" min="1" value="1" type="number">
                <div class="f-flex flex-column container-butons-numbers">
                  <button (click)="racionesDisponibles.stepUp()">
                    <i class="fa fa-chevron-circle-up"></i>
                  </button>
                  <button (click)="racionesDisponibles.stepDown()">
                    <i class="fa fa-chevron-circle-down"></i>
                  </button>
                </div>
              </div>


              <div class="form-group col-6 d-flex justify-content-between">
                <label class="text-left" for="precio-racion">Precio por racion €</label>
                <input #precioRacion class="contador" id="precio-racion" min="1" value="1" type="number">

                <div class="f-flex flex-column container-butons-numbers">
                  <button (click)="precioRacion.stepUp()">
                    <i class="fa fa-chevron-circle-up"></i>
                  </button>
                  <button (click)="precioRacion.stepDown()">
                    <i class="fa fa-chevron-circle-down"></i>
                  </button>
                </div>
              </div>
            </div>

            <div class="form-group col-8">
              <span class="input-group-addon"></span>
              <select class="custom-input" name="menu" placeholder="Ver paella">
                <option [ngValue]="null" [disabled]="true" hidden disabled selected>¿Permito ver como se prepara la
                  paella?</option>
                <option value="1">Si, permito ver como se prepara la paella</option>
                <option value="0">No permito ver como se prepara la paella</option>
              </select>
            </div>

            <div class="form-group col-8">
              <span class="input-group-addon"></span>
              <select class="custom-input" name="menu" placeholder="Mascota">
                <option [ngValue]="null" [disabled]="true" hidden disabled selected>¿Permito la entrada de mascotas?
                </option>
                <option value="1">Si, permito traer mascotas</option>
                <option value="0">No permito traer mascotas</option>
              </select>
            </div>

            <div class="form-group col-8">
              <textarea type="text" class="custom-textarea" rows="5"
                placeholder="Informacion adicional: hora de llegada, ingredientes, indicaciones de ubicacion, ciudad, codigo postal, etc"></textarea>

            </div>

            <div class="form-group col-8 caja-botones">
              <a href="" routerLinkActive="active"> Cancelar</a>
              <button (click)="savePaella()">Publicar</button>
            </div>
          </div>
        </form>
      </div>

    </div>


  </div>
</div>