    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript">
      $(function () {
          $('#datepicker').datepicker({ dateFormat: 'yy-mm-dd hh:mm:ss' });
      });
    </script>
    <!------ Include the above in your HEAD tag ---------->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!--letra font-->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&family=Roboto:ital@1&display=swap"
      rel="stylesheet">

    <div class="container-fluid p-0">
      <div id="fondo">



        <div class="row">

          <div class="col-xs-6 col-sm-6"> 



            



            <!-- EN ESTE HUECO ES DONDE HAY QUE PONER EL SUBIR FOTO   [(ngModel)]="img"  (change)="handldeUpload($event)   [(ngModel)]="paella.foto"-->
    <div class="container-input-file">
      <label class="custom-file">
<!--         <input type="file" id="imagenPaella" /> -->
<input type="file" (change)="handleUpload($event)">
      </label>
    </div>

    

    


    

            <img class="img-round" src="/assets/images/subirFoto.PNG">










          </div>


          <div class="col-xs-4 col-sm-4">

    <div class="container sombra bg-white">
            <!--
            <div class="form-group">
              <label class="letra" for="nombre">Nombre:</label>
              <input [(ngModel)]="paella.nombre" type="text" class="form-control" id="nombre" placeholder="Name of the paella">

            </div>
            <div class="form-group">
              <label class="letra" for="nombre">Nombre:</label>
              <input [(ngModel)]="paella.nombre" type="text" class="form-control" id="nombre" placeholder="Name of the paella">

            </div>   <div class="form-group">
              <label class="letra" for="nombre">Nombre:</label>
              <input [(ngModel)]="paella.nombre" type="text" class="form-control" id="nombre" placeholder="Name of the paella">

            </div>-->






        
              <div class="letra-marron">
                PUBLICAR UNA PAELLA
              </div>
              <label class="mt-4" for="nombre">
    <!--             <h5 class="letra"> Nombre:</h5>   -->
              </label>

              <div class="input-group mt-4 mb-4">
                <span class="input-group-addon"></span>
                <select [(ngModel)]="paella.categoria" class="form-control bordeMarron" name="menu" placeholder="Tipo de paella"> 
                  <option [ngValue]="null" [disabled]="true" hidden>Selecciona el tipo de paella</option> 
                  <option value="1">Paella Valenciana</option> 
                  <option value="2">Paella de marisco</option> 
                  <option value="3">Paella de verdura</option> 
                  <option value="4">Fideuá</option> 
                  <option value="0">Otro</option> 
                  </select> 
              </div>
              

                  <div class="input-group mt-4 mb-4">
                    <span class="input-group-addon"></span>
                    <input [(ngModel)]="paella.nombre" type="text" class="form-control bordeMarron" id="nombre"
                      placeholder="Name of the paella">
                  </div>
                  




    <!--           <h5 class="letra"> Descripción:</h5>
    --> <!--          <div class="input-group">
      <span class="input-group-addon"></span>
      <input [(ngModel)]="paella.descripcion" type="text" class="form-control" id="descripcion" name="descripcion"
        placeholder="Description">
    </div>
    <hr /> -->
    <!--           <h5 class="letra"> Dirección:</h5>
    -->          <div class="input-group mt-4 mb-4">
                <span class="input-group-addon"></span>
                <input [(ngModel)]="paella.ubicacion" type="text" class="form-control bordeMarron" id="ubicacion" name="ubicacion"
                  placeholder="Address">
              </div>
              
    <!--           <h5 class="letra"> Precio por ración (€):</h5>
    -->       <!--    <div class="input-group">
                <span class="input-group-addon"></span>
                <input [(ngModel)]="paella.precio" type="number" step="0.01" class="form-control bordeMarron" id="precio" name="precio"
                  placeholder="Ration price">
              </div> -->
              

    <!--           <h5 class="letra"> Telefono:</h5> -->
              <div class="input-group mt-4 mb-4">
                <span class="input-group-addon"></span>
                <input [(ngModel)]="paella.telefono" type="text" class="form-control bordeMarron" id="telefono" name="telefono"
                  placeholder="Phone number">
              </div>
              

              <div>

    <!--             <h5 class="letra">Fecha:</h5>
    -->


    <mat-form-field>
      <input [(ngModel)]="paella.fecha" matInput [ngxMatDatetimePicker]="picker" id="fechafea" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker">
    </mat-datepicker-toggle>
    <ngx-mat-datetime-picker #picker 
      [showSpinners]="true" 
      [showSeconds]="true">
    </ngx-mat-datetime-picker>



    </mat-form-field>
                                  



              </div> 

          
              
              <div class="row d-flex align-items-center justify-content-center"> 
                <div class="col-md-2"> 
                  
                  <p class=""><strong>Raciones disponibles </strong>   </div> 

                  <!--  <select [(ngModel)]="paella.plazas" [(ngModel)]="paella.plazas_libres" name="menu"> 
                      <option value="1">1</option> 
                      <option value="2">2</option> 
                      <option value="3">3</option> 
                      <option value="4">4</option> 
                      <option value="5">5</option> 
                      <option value="6">6</option> 
                      <option value="7">7</option> 
                      <option value="8">8</option> 
                      <option value="9">9</option> 
                      <option value="10">10</option> 
    
                    </select>  -->
                   
                    <div class="col-md-2"> 
                    <input class="contador bordeMarron ml-3" [(ngModel)]="paella.plazas" [(ngModel)]="paella.plazas_libres" id="id_form-0-quantity" min="1" name="form-0-quantity" value="1" type="number">
                   
                </div> 





                <div class="col-md-4">

                  <p class=""><strong>Precio por ración € </strong> 
                  
                  </div>
                  
  <input class="contador bordeMarron" [(ngModel)]="paella.precio" id="id_form-0-quantity" min="1" name="form-0-quantity" value="1" type="number">
                
              </div>
    
               <!--  <div class="col-md-6"> 
                  <p class=""><strong>¿Se admiten mascotas?</strong> 
                    <select [(ngModel)]="paella.mascota" class="bordeMarron" name="menu"> 
                      <option value="0">No</option> 
                      <option value="1">Si</option> 
    
    
                    </select>
                  </p>
                </div> -->
               <!--  <div class="col-md-6"> 
                  <p class=""><strong>¿Se admiten niños? </strong>
                    <select [(ngModel)]="paella.ninos" class="bordeMarron" name="menu">
                      <option value="0">No</option> 
                      <option value="1">Si</option>


                    </select>
                  </p>
                </div> -->

                <!-- <div class="col-md-6"> 
                  <p class=""><strong>¿Se permite ver hacer la paella? </strong>
                    <select [(ngModel)]="paella.ver_hacer_paella" class="bordeMarron" name="menu">
                      <option value="0">No</option>
                      <option value="1">Si</option>


                    </select>
                  </p>
                </div>  -->

                <div class="input-group mt-4 mb-4">
                  <span class="input-group-addon"></span>
                  <select [(ngModel)]="paella.ver_hacer_paella" class="form-control bordeMarron" name="menu" placeholder="Ver paella"> 
                    <option [ngValue]="null" [disabled]="true" hidden>¿Permito ver como se prepara la paella?</option> 
                    <option value="true">Si, permito ver como se prepara la paella</option> 
                    <option value="false">No permito ver como se prepara la paella</option> 
                    </select> 
                </div>
                <div class="input-group mt-4 mb-4">
                  <span class="input-group-addon"></span>
                  <select [(ngModel)]="paella.mascota" class="form-control bordeMarron" name="menu" placeholder="Mascota"> 
                    <option [ngValue]="null" [disabled]="true" hidden>¿Permito la entrada de mascotas?</option> 
                    <option value="true">Si, permito traer mascotas</option> 
                    <option value="false">No permito traer mascotas</option> 
                    </select> 
                </div>
                <div class="input-group mt-4 mb-4">
                  <span class="input-group-addon"></span>
                  <select [(ngModel)]="paella.ninos" class="form-control bordeMarron" name="menu" placeholder="Niños"> 
                    <option [ngValue]="null" [disabled]="true" hidden>¿Permito que se traigan niños?</option> 
                    <option value="true">Si, permito que se traigan niños</option> 
                    <option value="false">No permito que se traigan niños</option> 
                    </select> 
                </div>

      
                <div class="mt-4 input-group">
                  <span class="input-group-addon"></span>
                  <textarea [(ngModel)]="paella.descripcion" type="text" class="form-control descripcion bordeMarron" id="descripcion" name="descripcion"
                    placeholder="Informacion adicional: hora de llegada, ingredientes, indicaciones de ubicacion, ciudad, codigo postal, etc"></textarea>

                </div>
            


              

    <!--           <button (click)="savePaella()" class="btn btn-lg btn-outline-primary btn-block"> PUBLICA MI PAELLA</button>  -->

              <div class="p-paella-margin"> <a href="" routerLinkActive="active" class="ml-4 pr-4"> <strong class="cancelar">Cancelar</strong> </a> <button (click)="savePaella()" class="letra-header bordeMarron inout"> <strong class="inoutl">Publicar</strong> </button></div>
              <div class="p-paella-margin"></div>
            </div> 


        






    </div>




        </div>
        <div class="row">

          <div class="col-xs-12 col-sm-3">

          </div>
        </div>


      </div>



    </div>