/* imagenes */

.main-image-box {
    height: 250px;
    background-color: #8b5a17;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

.main-image-box label {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: #fff;
}

.main-image-box label i {
    margin-right: 10px;
}

label i {
    cursor: pointer;
}

.images-miniatures {
    min-height: 100px;
    min-width: 100px;
    background-color: #8b5a17;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* inputs */

.custom-input,
.custom-textarea {
    width: 100%;
    border: solid 3px #d9c2a3;
}

.custom-input {
    height: 50px;
}

.custom-file {
    padding-top: 20px;
    padding-left: 40px;
}

.letra-marron {
    color: #8b5a17;
    font-weight: 700;
    padding-top: 60px;
    font-size: 25px;
}

.letra-base {
    color: lightgray;
}

.inoutl {
    color: #ffffff;
    font-weight: 700;
}

.inout {
    text-decoration: none;
    padding: 8px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 300;
    background-color: #d3b791;
    border-radius: 20px;
    border-color: #d3b791;
}

.sombra {
    box-shadow: 2px 2px 10px #666;
}

#fondo {
    background-color: #f7eddf;
    /*     background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Paella_valenciana_01.jpg/1920px-Paella_valenciana_01.jpg);*/
    padding: 90px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}


/* date picker */

.styleDatepicker {
    background-color: #ffffff;
    width: 100%;
    height: 50px;
    border-radius: 2px;
    border: 3px solid #d9c2a3;
}

mat-datepicker-toggle {
    color: #8b5a17 !important;
    margin-left: -30px;
    margin-top: -15px;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #ffefd5 !important;
}

 ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #8b5a17 !important;
}

::ng-deep .mat-form-field-label {
    /*esta es la clase del placeholder*/
    /* color: #8b5a17 !important; */
    margin-left: 10px;
}

 ::ng-deep.mat-form-field-ripple {
    /*linea del subrrayado al hacerle click*/
    background-color: #ffefd5 !important;
}

 ::ng-deep.mat-calendar {
    /*fondo del calendario en si*/
    background-color: #ffffff;
}

 ::ng-deep.time-container {
    /*donde se pone la hora del datepicker*/
    background-color: #ffefd5;
    background: linear-gradient(to bottom, rgb( 255 255 255 / 10%), #ffefd5);
}

::ng-deep.actions {
    /*donde esta el check de guardar la fecha*/
    background-color: #ffefd5;
}

::ng-deep.mat-calendar-body-selected {
    background-color: #565656;
    /*color del seleccionado en el calendario*/
    color: #a9a092 !important;
}


/* caja de botomes */

.caja-botones {
    display: flex;
    justify-content: center;
    justify-content: end;
    margin-bottom: 50px;
}

.caja-botones a,
.caja-botones button {
    padding: 5px 35px;
    border-radius: 40px;
    font-size: 20px;
}

.caja-botones a {
    margin-right: 10px;
    text-decoration: none;
    color: #8b5a17;
}

.caja-botones button {
    background-color: peru;
    border: none;
    color: #fff;
}


/* input contador */

.contador {
    width: 40px;
    height: 50px;
    border: solid 2px #d9c2a3;
    font-size: 23px;
}

.margen-preview {
    margin-top: 200px;
    max-width: 650px;
    max-height: 500px;
    align-items: center;
    align-content: center;
}

input[type="file"] {
    display: none;
}

/* incrementadores */

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    text-align: center;
    margin-right: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.container-butons-numbers {
    margin-left: 10px;
}

.container-butons-numbers button {
    border: none;
    border-radius: 100%;
    padding: 0;
    background: transparent;
    width: 100%;
}

.container-butons-numbers button i {
    font-size: 22px;
    color: grey;
}