<div class="container-fluid bg-general">
  <div class="row pt-3 align-items-center justify-content-center"></div>
  <div class="row ml-4 mr-4 pr-4 pl-4">
    <div class="col-md-6 mt-3 align-items-center justify-content-center margen-info">
      <img src="https://peterpaellas.com/lvel/public/" width="100%" height="500"
        class="ml-4 mb-4 paella">

      <div class="row" style=" border-bottom: 2px solid #8b5a17;">
        <div class="col-md-6 d-flex align-items-center justify-content-center">
          <p class="nombre"><strong>{{paella.paella_nombre}}</strong></p>
        </div>

        <div class="col-md-6">
          <div class="row d-flex align-items-center justify-content-center">
            <p class="h4"><img src="https://www.flaticon.es/svg/static/icons/svg/747/747310.svg" width="20" height="20"
                class="mr-1">{{dia}}-{{mes}}-{{year}}
              {{paella.paella_fecha_coccion}}
            </p>
          </div>
          <div class="row d-flex align-items-center justify-content-center">
            <p class="h4"><img src="../../../assets/images/hora.png" width="20" height="20" class="mr-1">{{hora}}
              {{paella.paella_fecha_coccion}}
            </p>
          </div>
        </div>

      </div>


      <div class="row">
        <div class="col-md-6 ">

          <div class="row">
            <div class="col-md-2">
              <p class="mt-4"><img src="/assets/images/chef.png" width="30" height="30"> </p>
            </div>
            <div class="col-md-8">
              <p class="h4 mt-4">{{paella.id_cocinero}}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <p class="mt-4"><img src="/assets/images/location.png" width="30" height="30"> </p>
            </div>
            <div class="col-md-8">
              <p class="h4 mt-4">{{paella.id_provincia}}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <p class="mt-4"><img src="/assets/images/currency.png" width="30" height="30"> </p>
            </div>
            <div class="col-md-8">
              <p class="h4 mt-4">{{paella.paella_precio}}€ / ración</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <p class="mt-4"></p>
            </div>
            <div class="col-md-8">
              <div *ngIf="true"
                class="col-md-12 borde d-flex align-items-center justify-content-center">
                <p class="h4 mt-4">Telefono: [telefono]</p>
              </div>
              <div *ngIf="false"
                class="col-md-12 borde d-flex align-items-center justify-content-center">
                <p class="h4 mt-4">Telefono: No facilitado</p>
              </div>

            </div>


          </div>
        </div>

        <div class="col-md-6 ">

          <div class="row">
            <div class="col-md-2">
              <p class="mt-4"><img src="/assets/images/restaurant.png" width="30" height="30"> </p>
            </div>
            <div class="col-md-8">
              <!-- <p class="h4 mt-4">¡Quedan {{paella.plazas_libres}} raciones!</p> -->
            </div>
          </div>

          <div class="row rowHeight">
            <div class="col-md-2 rowHeight d-flex align-items-center justify-content-center">
              <div *ngIf="paella.paella_mascotas == true"><img src="/assets/images/check.png" width="30" height="30">
              </div>
              <div *ngIf="paella.paella_mascotas == false"><img src="/assets/images/x.png" width="30" height="30">
              </div>
            </div>
            <div class="col-md-10 rowHeight d-flex align-items-center justify-content-center">
              <div *ngIf="paella.paella_mascotas == true">
                <p class="h4 mt-4">Se permite traer mascotas</p>
              </div>
              <div *ngIf="paella.paella_mascotas == false">
                <p class="h4 mt-4">No se permite traer mascotas</p>
              </div>
            </div>
          </div>

          <div class="row rowHeight">
            <div class="col-md-2 rowHeight d-flex align-items-center justify-content-center">
              <div *ngIf="paella.paella_ver == true"><img src="/assets/images/check.png" width="30" height="30">
              </div>
              <div *ngIf="paella.paella_ver == false"><img src="/assets/images/x.png" width="30" height="30">
              </div>
            </div>
            <div class="col-md-10 rowHeight d-flex align-items-center justify-content-center">
              <div *ngIf="paella.paella_ver == true">
                <p class="h4 mt-4">Se permite ver hacer la paella</p>
              </div>
              <div *ngIf="paella.paella_ver == false">
                <p class="h4 mt-4">No se permite ver hacer la paella</p>
              </div>
            </div>
          </div>

          <!-- <div class="row rowHeight">
            <div class="col-md-2 rowHeight d-flex align-items-center justify-content-center">
              <div *ngIf="paella.ninos == true"><img src="/assets/images/check.png" width="30" height="30"> </div>
              <div *ngIf="paella.ninos == false"><img src="/assets/images/x.png" width="30" height="30"> </div>
            </div>
            <div class="col-md-10 rowHeight d-flex align-items-center justify-content-center">
              <div *ngIf="paella.ninos == true">
                <p class="h4 mt-4">Se permiten niños</p>
              </div>
              <div *ngIf="paella.ninos == false">
                <p class="h4 mt-4">No se permiten niños</p>
              </div>
            </div>
          </div> -->

        </div>

      </div>


      <div class="d-flex margenDescripcion justify-content-center align-items-center">
      </div>
    </div>

    <div class="col-md-5 mt-3 mb-4 separacionReservas bg-white align-items-center justify-content-center">
      <!-- Aqui llamamos al componente reserva, si queremos modificar algo de aqui debes ir ahi a mirarlo -->
      <!-- <app-reserva [selectedPaella]='this.paella'></app-reserva> -->
    </div>

  </div>
</div>