
<div class="container-fluid bg-light">
  <div class="row pt-3 align-items-center justify-content-center">
    
 
<p class="h4"><strong>Paella {{selectedPaella.name}} de Lorem ipsum.</strong></p>

    <div class="col-md-6 pt-3 d-flex align-items-center justify-content-center">

    </div>


  </div>


    <div class="row">

       <div class="col-md-6 mt-3 d-flex align-items-start justify-content-start">
         <img src="https://img-global.cpcdn.com/recipes/152d87bfdfda7dfb/1200x630cq70/photo.jpg" class="ml-4 mb-4">

       </div>


      <div class="col-md-6 mt-3 align-items-center justify-content-center">
             <p class="h4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia voluptatibus impedit animi tempora corporis, sequi dignissimos, architecto nihil quae facere, eum numquam eius quasi nostrum fugit veniam facilis doloribus natus?</p>


             <p class="h4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia voluptatibus impedit animi tempora corporis, sequi dignissimos, architecto nihil quae facere, eum numquam eius quasi nostrum fugit veniam facilis doloribus natus?</p>

        <div class="col-md-6 mt-3 d-flex align-items-end">
          <a type="button" routerLink="" routerLinkActive="active" href="" class="btn btn-sm btn-outline-secondary">cerrar</a>
          <a type="button" routerLink="/reserva" routerLinkActive="active" href="" class="btn btn-sm btn-outline-secondary ml-1">Reservar plaza</a>
          <a type="button" routerLink="/perfil" routerLinkActive="active" href="" class="btn btn-sm btn-outline-secondary ml-1">Ver cocinero</a>
  
        </div>

   
      </div>


    </div>
</div>








<!--<ul class="paellas">
  <li *ngFor="let paella of paellas"
    [class.selected]="paella === selectedPaella"
    (click)="onSelect(paella)">
    <span class="badge">{{paella.id}}</span> {{paella.name}} {{paella.cocinero}}
  </li>
</ul>

<div *ngIf="selectedPaella" class="container">

  <h2>{{selectedPaella.name}} de </h2>
  <div><span>id: </span>{{selectedPaella.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedPaella.name" placeholder="Tipo de paella..."/>
    </label>
  </div>
</div> -->