<div class="container-fluid">
    <div class="row d-flex justify-content-center">

        <div class="col-lg-6">
            <div class="row d-flex justify-content-center">

                <div class="col-md-10 mb-3">
                    <img src="../../../assets/images/paella.jpg" class="img-fluid" alt="">
                    <div class="d-flex mt-3 caja-imagen-destacada-paella">
                        <div class="col-sm-7 col-md-7">
                            <h3 class="text-left">PAELLA VALENCIANA</h3>
                        </div>
                        <div class="col-sm-5">
                            <h3><i class="fa fa-calendar"></i> 14/03/2021</h3>
                        </div>
                    </div>
                    <hr>
                </div>

                <div class="col-md-5">
                    <p class="info-item-reserva"> <i class="fa fa-hat-chef"></i> Juan Garcia Cano</p>
                </div>
                <div class="col-md-5">
                    <p class="info-item-reserva"> <i class="fa fa-euro-sign"></i> 5€/ ración</p>
                </div>
                <div class="col-md-5">
                    <p class="info-item-reserva"> <i class="fa fa-utensils"></i> ¡Quedan 3 raciones!</p>
                </div>
                <div class="col-md-5">
                    <p class="info-item-reserva"> <i class="fa fa-check"></i> Ver como se prepara la paella</p>
                </div>
                <div class="col-md-5">
                    <p class="info-item-reserva"> <i class="fa fa-map-marker-alt"></i> Quid ex ea voluptate ponit</p>
                </div>
                <div class="col-md-5">
                    <p class="info-item-reserva"> <i class="fa fa-times"></i> Mascotas</p>
                </div>

                <div class="col-md-10">
                    <p>Primum igitur, quid malum, sensu iudicari, sed et dolorem eum fugiat,
                        quo enim maxime consuevit iactare vestra se texit, ne ferae quidem
                        exercitus quid ex ea commodi consequatur? quis nostrum
                        exercitationem ullam corporis suscipit laboriosam, nisi ut aut odit aut </p>
                </div>
            </div>
        </div>

        <!-- caja del formulario -->
        <div class="col-lg-6 px-lg-5">
            <form class="formulario-reservar-paella">
                <div class="form-row d-flex justify-content-center">
                    <div class="form-group col-md-8 titulo-fomulario">
                        <h3 class="text-left">¡RESERVA TU PAELLA! </h3>
                    </div>
                    <div class="form-group col-md-8">
                        <input type="text" placeholder="Nombre Completo*">
                    </div>

                    <div class="form-group col-md-8">
                        <input type="text" placeholder="Teléfono">
                    </div>

                    <div class="form-group col-md-8">
                        <input type="email" placeholder="Email">
                    </div>

                    <div class="form-group col-md-8 caja-raciones-ver-hacer-paella">
                        <div class="d-flex justify-content-center">
                            <div class="col-md-6 pl-0">
                                <button (click)="toggleCajaRaciones()" class="btn-dropdown">
                                    Nº Raciones
                                    <i class="fa fa-caret-down"></i>
                                </button>

                                <ul *ngIf="cajaRacionesAbierta">
                                    <li><button>1 Racion</button></li>
                                    <li><button>1 Racion</button></li>
                                    <li><button>1 Racion</button></li>
                                    <li><button>1 Racion</button></li>
                                    <li><button>1 Racion</button></li>
                                </ul>
                            </div>
                            <div class="col-md-6 d-flex justify-content-end align-items-start pr-0">
                                <label for="quiero-ver-hacer-paella">QUIERO VER CÓMO SE HACE LA PAELLA</label>
                                <input type="checkbox" id="quiero-ver-hacer-paella">
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-8">
                        <textarea name="" id="" rows="5"
                            placeholder="Información adicional: hora de llegada, alergias, mascotas etc"></textarea>
                    </div>

                    <div class="form-group col-md-8 caja-prefactura">
                        <div class="d-flex justify-content-center">
                            <div class=" col-md-6 prefactura-concepto">
                                <p>5€ x 3 Raciones 15€</p>
                            </div>
                            <div class="col-md-6 prefactura-total">
                                <p>TOTAL 15€</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-8 caja-botones-pago">
                        <h5 class="text-left">MÉTODO DE PAGO</h5>
                        <div class="d-flex justify-content-center">
                            <div class="col-md-6">
                                <button class="btn-pago-1">PayPal</button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn-pago-2">Tarjeta de crédito o débito</button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-8 caja-botones">
                        <button class="btn-cancelar">Cancelar</button>
                        <button class="btn-reservar">Reservar</button>
                    </div>

                </div>
            </form>

        </div>
    </div>
</div>