<div class="container-fluid seccion-buscador-paellas">
    <div class="row py-5 d-flex justify-content-center">
        <div class="custom-input-search-paella col-3">
            <input type="button" #tipoPaella value="Tipo de paella" (click)="toggleSelect(1)">
            <div class="custom-select-buscar-paella" *ngIf="tipoPaellaselectOpened">
                <div class="custom-select-buscar-paella-item" (click)="seleccionarTipoPaella(tipo,tipoPaella)"
                    *ngFor="let tipo of tiposPaellas">
                    <p>{{tipo.tipo_paella_nombre}} </p>
                </div>
            </div>
        </div>

        <div class="custom-input-search-paella col-3">
            <input type="button" #provinciaHTML value="Seleccione la provincia" (click)="toggleSelect(2)">
            <div class="custom-select-buscar-paella" *ngIf="provinciaSelectOpened">
                <div class="custom-select-buscar-paella-item" (click)="seleccionarProvincia(provincia,provinciaHTML)"
                    *ngFor="let provincia of provincias">
                    <p>{{provincia.provincia_nombre}}</p>
                </div>
            </div>
        </div>

        <div class="custom-input-search-paella col-3">
            <input #fecha class="custom-select-calendar" value="Seleccione una fecha" type="button"
                (click)="toggleCalendar()">
            <div class="caja-mat-calendar" *ngIf="calendarOpened">
                <mat-calendar (selectedChange)="seleccionarFecha($event,fecha)"></mat-calendar>
            </div>
        </div>

        <button (click)="buscar()" class="btn-lupa text-color-1">
            <i class="fa fa-search"></i>
        </button>
    </div>
</div>

<div class="container-fluid py-4">
    <div class="container">
        <h3 class="text-center text-uppercase text-wigth-bold">10 paellas disponibles</h3>
        <h3 class="text-center mt-3" *ngIf="listaPaellas.length==0"><b>NO SE HAN ENCONTRADO PAELLAS</b></h3>

        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-6 col-lg-4 mt-3" *ngFor="let paella of listaPaellas">
                <div class="card">
                    <div class="nombre-paella">
                        <img src="../../../assets/images/avatarSimbolo.png" class="" alt="">
                        <h3>{{paella.tipo_paella_nombre}}</h3>
                    </div>

                    <img [src]="paella.paella_foto_url" class="img-destacada-paella" alt="{{paella.paella_foto_url}}">

                    <div class="info-cocinero">
                        <div class="w-100 d-flex justify-content-between align-items-center">
                            <div>
                                <p class="card-text"> {{paella.usuario_nombre}} </p>
                            </div>
                            <div class="d-flex justify-content-end align-items-center">
                                <div class="caja-estrellas">
                                    <input id="radio1" type="radio" name="estrellas" value="5">
                                    <label (click)="valorarPaella(paella,5)"
                                        [style.color]="paella.valoracion>=5? 'orange':grey" for="radio1">&#9733;</label>
                                    <input id="radio2" type="radio" name="estrellas" value="4">
                                    <label (click)="valorarPaella(paella,4)"
                                        [style.color]="paella.valoracion>=4? 'orange':grey" for="radio2">&#9733;</label>
                                    <input id="radio3" type="radio" name="estrellas" value="3">
                                    <label (click)="valorarPaella(paella,3)"
                                        [style.color]="paella.valoracion>=3? 'orange':grey" for="radio3">&#9733;</label>
                                    <input id="radio4" type="radio" name="estrellas" value="2">
                                    <label (click)="valorarPaella(paella,2)"
                                        [style.color]="paella.valoracion>=2? 'orange':grey" for="radio4">&#9733;</label>
                                    <input id="radio5" type="radio" name="estrellas" value="1">
                                    <label (click)="valorarPaella(paella,1)"
                                        [style.color]="paella.valoracion>=1? 'orange':grey" for="radio5">&#9733;</label>
                                </div>
                                <div>
                                    <p class="mt-auto mb-auto">{{'('+paella.numero_votos+')'}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <p class="card-text text-left mt-4 pl-4 mb-0 text-color-3">
                        <i class="fa fa-map-marker-alt text-color-2"></i>
                        Burjassot, València
                    </p>

                    <p class="card-text text-left mb-4 pl-4 text-color-3">
                        <i class="fa fa-calendar text-color-2"></i>
                        {{paella.paella_fecha_coccion|date:'fullDate'|titlecase}}
                    </p>

                    <a routerLink="../reservar-paella/{{paella.id_paella}}"
                        class="btn-paella btn-paella-aceptar">Reservar</a>
                </div>
            </div>

        </div>


    </div>
</div>