<div class="container-fluid py-5">
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="col-12 col-sm-8 col-md-6 col-xl-4">
				<form (submit)="recordarPassword()" [formGroup]="form" class="py-5">
					<div class="form-row d-flex justify-content-center">
						<h3 class="text-center mb-4"> ¿OLVIDASTE TU<br> CONTRASEÑA? </h3>
						<div class="form-group col-10">
							<p class="text-left">Dinos cual es tu correo electrónico de acceso y te enviaremos un enlace
							</p>
							<p class="text-danger" *ngIf="formSubmitted&&form.get('usuario_email').invalid">
								Este campo es obligatorio
							</p>
							<input type="email" class="mb-5" formControlName="usuario_email" placeholder="E-mail">
						</div>
						<button type="submit"> Enviar </button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>