<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container-fluid p-0">
	<div id="fondo">

<!-- ESTO ESTA TANTO POR MAQUETAR COMO POR CREAR, PERO VAMOS QUE TODOS LOS CORREOS MENOS ESTE CONCRETAMENTE ESTAN PUESTOS, CONSISTE EN IR AL LARAVEL Y PONER UNA FUNCION PROTEGIDA PUT 
	PARA CAMBIAR SU CONTRASEÑA O SIMPLEMENTE ENVIARLA DESENCRIPTADA Y QUE LA VEA, ESO YA COMO SE PREFIERA QUE FUNCIONE -->

		<div class="row d-flex align-items-center justify-content-center">
			<div class="col-xs-12 col-sm-6">	

 <p class="h2 pb-3">   Escribe tu email y te enviaremos un correo para restablecer tu contraseña:  </p>
<hr />

			    <form class="mt-4 mb-4 pb-4 pt-4" action="" autocomplete="off" method="POST">
					<div class="input-group">
						<span class="input-group-addon"><span class="fa fa-user"></span></span>
						<input type="text" class="form-control" name="username" placeholder="E-mail">
					</div>
                    <hr />
										
                

					<button class="btn mt-4 mb-4 btn-lg btn-outline-primary btn-block" type="submit"><i class="fa fa-sign-in"></i> Recuperar contraseña</button>
				</form>
				<p class="mt-4 mb-4">
					<a href="" routerLink="register" routerLinkActive="active">Registrarse</a>
				</p>
				<p class="mt-4 mb-4">
					<a href="" routerLink="login" routerLinkActive="active">Login</a>
				</p>

			</div>
    	</div>
		<div class="row">
		
			<div class="col-xs-12 col-sm-3">
			
			</div>        
		</div>	 
		
		
	</div>



	</div>
    


