<div class="container-fluid py-5">
  <div class="container pt-4">

    <!-- INICIO HEADER INFO PANEL USUARIO -->
    <div class="row">
      <div class="col-md-3">
        <div #cajaFotoPerfil [style.background-image]="usuario.rutaFotoPerfil" class="caja-foto-perfil"></div>
      </div>

      <div class="col-md-9 caja-info-titulo">
        <p> PANEL DE USUARIO </p>
        <label for="input-hidden-img-perfil" class="btn-cambiar-foto-perfil">
          Cambiar la foto del perfil
          <i class="fa fa-pencil"></i>
        </label>
        <input (change)="cambiarFotoPerfil($event,cajaFotoPerfil)" type="file" id="input-hidden-img-perfil">
      </div>
    </div>
    <!-- FIN HEADER INFO PANEL USUARIO-->

    <!-- INICIO FORMULARIO -->
    <form class="w-100 mt-5" [formGroup]="form" (submit)="guardarUsuario()">
      <div class="form-row">

        <div class="form-group col-md-6">
          <p class="text-danger" *ngIf="form.get('usuario_nombre').invalid && formSubmitted">El nombre es requerido</p>
          <label for="nombre">Nombre</label>
          <input type="text" id="nombre" class="form-control" formControlName="usuario_nombre">
        </div>

        <div class="form-group col-md-6">
          <label for="apellidos">Apellidos</label>
          <input type="text" id="apellidos" class="form-control" formControlName="apellidos">
        </div>

        <div class="form-group col-md-6">
          <p class="text-danger" *ngIf="form.get('usuario_email').invalid && formSubmitted">El email es requerido</p>
          <label for="email">Email</label>
          <input type="text" id="email" class="form-control" formControlName="usuario_email">
        </div>

        <div class="form-group col-md-6">
          <p class="text-danger" *ngIf="form.get('usuario_telefono').invalid && formSubmitted">El teléfono es requerido
          </p>
          <label for="telefono">Teléfono</label>
          <input type="text" id="telefono" class="form-control" formControlName="usuario_telefono">
        </div>

        <div class="form-group col-md-6">
          <p class="text-danger" *ngIf="form.get('codigo_postal').invalid && formSubmitted">El código postal es
            requerido</p>
          <label for="codigo-postal">Cód. Postal</label>
          <input type="text" id="codigo-codigo" class="form-control" formControlName="codigo_postal">
        </div>

        <div class="form-group col-md-6">
          <p class="text-danger" *ngIf="form.get('id_provincia').invalid && formSubmitted">La provincia es requerida</p>
          <label for="Provincia">Provincia</label>
          <select id="Provincia" class="form-control" formControlName="id_provincia">
            <option [value]="provincia.id_provincia" *ngFor="let provincia of provincias">
              {{provincia.provincia_nombre}}
            </option>
          </select>
        </div>

        <div class="form-group col-md-6">
          <p class="text-danger" *ngIf="form.get('calle').invalid && formSubmitted">La calle es requerida</p>
          <label for="calle">Calle</label>
          <input type="text" id="calle" class="form-control" formControlName="calle">
        </div>

        <div class="form-group col-md-6">
          <p class="text-danger" *ngIf="form.get('poblacion').invalid && formSubmitted">La población es requerida</p>
          <label for="poblacion">Población</label>
          <input type="text" id="poblacion" class="form-control" formControlName="poblacion">
        </div>

        <div class="form-group col-md-6 caja-password">
          <div>
            <label for="password">Contraseña</label>
            <input type="text" id="password" value="************">
          </div>
          <a routerLink="../cambiar-password">Cambiar contraseña</a>
        </div>

        <div class="form-group col-md-12 mt-4 mt-4">
          <label for="descricion">Breve descripción</label>
          <textarea id="descricion" class="form-control" formControlName="usuario_descripcion" cols="30"
            rows="5"></textarea>
        </div>

        <div class="form-group col-md-12 mt-4 d-flex flex-column justify-contente-center align-items-center">
          <button class="btn-paella bg-paella-2 btn-paella-border-2 text-color-1">Aceptar</button>
          <a routerLink="../" class="btn-paella bg-secondary text-white mt-2">Cancelar</a>
        </div>
      </div>
    </form>
    <!--FIN FORMULARIO -->
  </div>
</div>