.cursor-pointer {
    cursor: pointer;
}

.bg-paella-1 {
    background-color: #E9CDA5;
}

.bg-paella-2 {
    background-color: #FFEED5;
}

.bg-paella-3 {
    background-color: #F8EEE0;
}

.text-color-1 {
    color: #804B00;
}

.text-color-2 {
    color: #E9CDA5;
}

.text-color-3 {
    color: #575757;
}

.text-color-4 {
    color: #212121;
}

.border-radius-paella-10 {
    border-radius: 10px 10px 0 0;
}

.border-radius-paella-20 {
    border-radius: 20px 20px 0 0;
}

.caja-estrellas {
    font-size: 30px;
}

.btn-paella {
    padding: 8px 40px;
    border-radius: 40px;
    font-size: 18px;
    text-align: center;
    border: none;
}

a.btn-paella {
    text-decoration: none;
    color: #804B00;
}

.btn-paella-link {
    background: transparent;
    border: none;
    color: #804B00;
    font-size: 20px;
}

.btn-paella:hover {
    font-weight: bolder;
}

.btn-paella-border-1 {
    border: 2px solid #804B00;
}

.btn-paella-border-2 {
    border: 2px solid #FFEED5;
}

.btn-paella-border-3 {
    border: 2px solid #fff;
}