.bg-paella-1 {
    background-color: #E9CDA5;
}

.bg-paella-2 {
    background-color: #FFEED5;
}

.bg-paella-3 {
    background-color: #F8EEE0;
}

.text-color-1 {
    color: #804B00;
}

.text-color-2 {
    color: #E9CDA5;
}

.text-color-3 {
    color: #575757;
}

.text-color-4 {
    color: #212121;
}

.border-radius-paella-10 {
    border-radius: 10px 10px 0 0;
}

.border-radius-paella-20 {
    border-radius: 20px 20px 0 0;
}

.caja-estrellas {
    color: yellow;
    font-size: 30px;
}

.caja-estrellas i {
    margin-right: 10px;
}