<div class="album py-5 bg-light">
<div class="container-fluid">
    <div class="row ">
        <div class="col-md-4 mt-4 mb-4 bg-negro">
            <h1>1º paso: <br></h1> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic modi autem esse aut, animi rem fugit fuga. Est facilis voluptatum quisquam molestiae temporibus accusantium necessitatibus. Doloribus facilis amet mollitia sint.
            <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(145).jpg" >
        </div>

        <div class="col-md-4 mt-4 mb-4 bg-gris">
            <h1>2º paso: <br></h1> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore labore atque nihil odit aliquid praesentium, culpa necessitatibus id architecto cumque. Eveniet sequi molestiae maiores quae voluptatum quis corrupti. Fugit, aperiam?.
            <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(42).jpg">
        </div>

        <div class="col-md-4 mt-4 mb-4 bg-blanco">
            <h1>3º paso: <br></h1> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam illo ea expedita voluptas perspiciatis consectetur assumenda nobis cupiditate? Quae sapiente neque voluptatum corporis asperiores? Cupiditate rem soluta numquam temporibus fuga?.
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(98).jpg">
        </div>

    </div>
</div>
</div>