img{
    margin-top: 10%;
    margin-left:auto;
    margin-right: auto;
    display: block;
    border-radius: 5%;
    max-width: 544px;
    max-height: 362;
}
.bg-negro{
    background-color: black;
    color: white;
    border-radius: 6%;
    padding-bottom: 50px;
}
.bg-gris{
    background-color: grey;
    color: white;
    border-radius: 6%;
    padding-bottom: 50px;
}
.bg-blanco{
    background-color: white;
    color:black;
    border-radius: 6%;
    border: 2px solid #000000;
    padding-bottom: 50px;
}
.bg-general{
    background-color: beige;
}