<div class="container-fluid" id="caja-activar-cuenta">
    <div class="container">
        <h3 class="text-center">CONTRASEÑA CAMBIADA</h3>
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <p>
                    Hemos cambiado su contraseña, para verla diríjase a su buzón de correo electrónico.
                    En caso de que quiera cambiarla siempre podrá hacerlo desde el panel de control de su
                    cuenta de usuario.
                </p>
            </div>
            <div class="col-md-6">
                <img src="../../../assets/images/cloud-password.jpg" alt="">
            </div>
        </div>
    </div>
</div>