<div class="container-fluid bg-color">
<div class="row"></div>

    <div class="container bg-blanco">

        <div class="col-sm-12">

<div class="row mt-4 mb-4 ml-4">
    <div class="col-sm-3"> <img class="img-round" src="https://peterpaellas.com/lvel/public/{{this.users.foto}}"> </div>


    <div class="col-sm-3 mt-4"><div class=" letra-intro"> PANEL DE USUARIO     </div>


    <div class="container-input-file">
        <label class="custom-file"> <img class="" src="/assets/images/imgChange.PNG">
  <input type="file" (change)="handleUpload($event)" class="edita-info">
        </label>
      </div>

</div>

        </div>

            <table class="table table-hover table dark">
                <tbody>
                    <tr class="fila-par pt-4">
                        <td class="py-4">
                            <p><strong>Nombre:</strong> </p>

                           <input [(ngModel)]="this.users.name"  type="name" class="form-control bordeMarron" name="name" placeholder="Nuevo nombre">
                       </td>
                        <td class="py-4">
                            <p><strong>Email:</strong> </p>

                             <input [(ngModel)]="this.users.email"  type="email" class="form-control bordeMarron" name="email" placeholder="Nuevo email">

                        </td>
                    </tr>
                    <tr class="fila-impar">
                       
                         <td class="py-4">
                            <p><strong>Direccion:</strong> </p>

                           <input [(ngModel)]="this.users.ubicacion"  type="ubicacion" class="form-control bordeMarron" name="ubicacion" placeholder="Nueva ubicacion">

</td>

                    </tr>

                   
                    

                    <!--<td class="py-4">
                        <p><strong>Cambiar contraseña:</strong> </p>
                        <div class="input-group">
                            <span class="input-group-addon"></span>
                        <input [(ngModel)]="this.users.password"  type="password" class="form-control" name="password" placeholder="Nueva contraseña">
 </div>
                        <p><strong>Confirma nueva contraseña:</strong> </p>
                        <div class="input-group">
                            <span class="input-group-addon"></span>
                        <input [(ngModel)]="contrasena2"  type="password" class="form-control" name="password" placeholder="Repite nueva contraseña"> </div>
                        <button (click)="savePassword()" class="btn btn-lg btn-outline-primary btn-block" >	cambia mi contraseña</button>
                    </td>
                
                        DE MOMENTO NO VOY A PONER LA OPCION DE CAMBIAR CONTRASEÑA PORQUE NO HE PENSADO BIEN LA FORMA, DEJO ESTO POR AQUI PARA EL FUTURO--> 




                </tbody>

<div class="row">
    
                <div class="p-paella-margin"> <a (click)="saveEdits()" class="letra-header inout"> <strong class="inoutl">Aceptar</strong> </a></div>
                <div class="p-paella-margin"> <a href="" routerLink="/panel-usuario" routerLinkActive="active"> <strong class="cancelar">Cancelar</strong> </a></div>
                </div>
            </table>
        </div>
    </div>

   
</div>


























































        <script>
//he decidido que voy a cambiar los datos todo lo posible aqui, quiza debería hacer un checkbox y si está check pues
//ejecutar funcion cambiaPassword cambiaName y cosas asi ¿o será mas facil simplemente en una funcion todo?

//creo que es mas facil poner un boton al lado de cada campo y que este active una funcion para cambiar cada campo

//a costa de marear la perdiz, en vez de todo esto voy simplemente a crear un formulario que de base sea como el propio usuario, guardará el usuario password y tal que le metas
//y lo reemplazará, espero


/* function checkCheckbox() {  
            
              var name = document.getElementById("newsletter");  
            
              if (nLetter.checked == true){ 
                var y = document.getElementById("newsletter").value;   
                return document.getElementById("nLetter").innerHTML = y;  
              } 
               
            }; */
            
/*             
            changeUser();{
            
            
            
            this.suscripcionService.save(this.suscripcion).subscribe((data) => {
            alert('¡Te has suscrito correctamente!');
            console.log(data);
            
            window.location.href = "http://localhost:4200";
            
            
              }, (error) => {
            console.log("error en footer.ts suscripcion");
            })
                        
            
            function newsletter() {
              var nLetter = document.getElementById("newsletter");
            
            
              if (nLetter.checked == true){
                
              } 
            
            }
            }   */
            
            </script>
            