.bg-color{
    background-color: #f7eddf;
    height: 600px;
    
}
.img-round{
    width:150px;
    height:150px;
    border-radius:150px;
    margin-top: 20px;
    margin-left: 50px;
}
.letra-intro{
    color:#8b5a17;
    font-weight: 700;
    margin-top:50px;
}
.edita-info{
    color:grey;
    margin-top: 10px;
}

.bg-blanco{
    background-color: white;
height: 550px;
          /* border-radius: 15px; */
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
}

.margenes{
    margin-top: 20px;
    margin-bottom: 20px;
}
.inoutl{
    color:#ffffff;
    font-weight: 700;
  }

.inout{
    text-decoration: none;
    padding: 8px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 300;
    background-color: #d3b791;
    border-radius: 20px;
  }

.p-paella-margin{
    margin-top: 20px;
    margin-left: 10px;

}
.cancelar{
    color:#8b5a17;
}