<div class="container-fluid bg-color">

    <div class="container bg-blanco">
<div style="min-height: 60vh;">
    <div #user id="user" class="row no-gutters mt-5">
        <div class="col-sm-12">

            <table class="table table-hover table dark">
                <tbody>
                    <tr class="fila-par pt-4">
                        <td class="py-4">
                            <p><strong>Nombre:</strong> </p>
                           {{this.userData.name}}
                           <input [(ngModel)]="this.users.name"  type="name" class="form-control" name="name" placeholder="Nuevo nombre">
<!--                            <button (click)="saveName()" class="btn btn-lg btn-outline-primary btn-block" >	cambia mi nombre</button>
 -->                        </td>
                        <td class="py-4">
                            <p><strong>Email:</strong> </p>
                             {{this.userData.email}}
                             <input [(ngModel)]="this.users.email"  type="email" class="form-control" name="email" placeholder="Nuevo email">
<!--                              <button (click)="saveEmail()" class="btn btn-lg btn-outline-primary btn-block" > cambia mi email</button>
 -->
                        </td>
                    </tr>
                    <tr class="fila-impar">
                       
                         <td class="py-4">
                            <p><strong>Direccion:</strong> </p>
                            {{this.userData.ubicacion}}
                            <div class="input-group">
                                <span class="input-group-addon"></span>
                            <input [(ngModel)]="this.users.ubicacion"  type="ubicacion" class="form-control" name="ubicacion" placeholder="Nueva ubicacion">
                            </div>
<!--                             <button (click)="saveUbicacion()" class="btn btn-lg btn-outline-primary btn-block" >	cambia mi direccion</button>-->

</td>
                    </tr>

                   
                    

                    <!--<td class="py-4">
                        <p><strong>Cambiar contraseña:</strong> </p>
                        <div class="input-group">
                            <span class="input-group-addon"></span>
                        <input [(ngModel)]="this.users.password"  type="password" class="form-control" name="password" placeholder="Nueva contraseña">
 </div>
                        <p><strong>Confirma nueva contraseña:</strong> </p>
                        <div class="input-group">
                            <span class="input-group-addon"></span>
                        <input [(ngModel)]="contrasena2"  type="password" class="form-control" name="password" placeholder="Repite nueva contraseña"> </div>
                        <button (click)="savePassword()" class="btn btn-lg btn-outline-primary btn-block" >	cambia mi contraseña</button>
                    </td>
                
                        DE MOMENTO NO VOY A PONER LA OPCION DE CAMBIAR CONTRASEÑA, DEJO ESTO POR AQUI POR SI EL FUTURO--> 




                </tbody>

<div class="row">
    
                <div class="p-paella-margin"> <a href="" routerLink="panel-usuario" routerLinkActive="active" (click)="saveEdits()" class="letra-header inout"> <strong class="inoutl">Aceptar</strong> </a></div>
                <div class="p-paella-margin"> <a href="" routerLink="panel-usuario" routerLinkActive="active" class=""> <strong class="cancelar">Cancelar</strong> </a></div>

</div>


            </table>

        </div>
    </div>

    </div> 

























































        <script>
//he decidido que voy a cambiar los datos todo lo posible aqui, quiza debería hacer un checkbox y si está check pues
//ejecutar funcion cambiaPassword cambiaName y cosas asi ¿o será mas facil simplemente en una funcion todo?

//creo que es mas facil poner un boton al lado de cada campo y que este active una funcion para cambiar cada campo

//a costa de marear la perdiz, en vez de todo esto voy simplemente a crear un formulario que de base sea como el propio usuario, guardará el usuario password y tal que le metas
//y lo reemplazará, espero


/* function checkCheckbox() {  
            
              var name = document.getElementById("newsletter");  
            
              if (nLetter.checked == true){ 
                var y = document.getElementById("newsletter").value;   
                return document.getElementById("nLetter").innerHTML = y;  
              } 
               
            }; */
            
/*             
            changeUser();{
            
            
            
            this.suscripcionService.save(this.suscripcion).subscribe((data) => {
            alert('¡Te has suscrito correctamente!');
            console.log(data);
            
            window.location.href = "http://localhost:4200";
            
            
              }, (error) => {
            console.log("error en footer.ts suscripcion");
            })
                        
            
            function newsletter() {
              var nLetter = document.getElementById("newsletter");
            
            
              if (nLetter.checked == true){
                
              } 
            
            }
            }   */
            
            </script>
            